<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ 'Elavon Creator'|trans }}</title>

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6746754/729288/css/fonts.css" />

        <!-- IMPORT WIDGET AND LIB CSS -->
        {% stylesheets

            '@SinglePageClientBundle/Resources/public/css/reset.css'

            '@SinglePageClientBundle/Resources/public/css/colorpicker.css'

            '@ElavonCreatorBundle/Resources/public/css/font-icons.css'

            '@ElavonCreatorBundle/Resources/public/css/animate.css'
            '@SinglePageClientBundle/Resources/public/css/noty.css'
            '@ElavonCreatorBundle/Resources/public/css/ion.rangeSlider.css'
            '@ElavonCreatorBundle/Resources/public/css/selectBoxIt.css'
            '@SinglePageClientBundle/Resources/public/css/collapse.css'

            '@ElavonCreatorBundle/Resources/public/css/globalClasses.css'
            '@ElavonCreatorBundle/Resources/public/css/globalPageStyle.css'
            '@ElavonCreatorBundle/Resources/public/css/allPopups.css'
            '@ElavonCreatorBundle/Resources/public/css/style.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

        <!-- IMPORT MODULES CSS -->
        {% stylesheets

            '@ElavonCreatorBundle/Resources/public/css/modules/home.css'
            '@ElavonCreatorBundle/Resources/public/css/modules/elavonCardDesigner.css'
            '@ElavonCreatorBundle/Resources/public/css/modules/shoppingCart.css'
            '@ElavonCreatorBundle/Resources/public/css/modules/myDesignStudio.css'
            '@ElavonCreatorBundle/Resources/public/css/modules/checkout.css'
            '@ElavonCreatorBundle/Resources/public/css/modules/thankYou.css'

        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

        <!-- IMPORT COMMON AND RESPONSIVE CSS -->
        {% stylesheets
            '@ElavonCreatorBundle/Resources/public/css/modulesCommon.css'
            '@ElavonCreatorBundle/Resources/public/css/responsive.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

    </head>

    <body data-user-id="{{fanfareId}}">
        <div id="popups-container" class="popup-background-filter display-none"></div>
        <!-- PAGE LOADER -->
        <section id="main-loader" class="main-loader">
            <h2 id="ui-loader-message">Loading...</h2>
            <div id="ui-loader-animation"></div>
        </section>

        <!-- APPLICATION CONTENT -->
        <div id="app-content-all-holder">
            <div class="page-container clear-float">
                <header id="header" class="header clear-float">
                    <span class="span-btn header-logo go-left" data-module="Home">
                        <img class="logo" src="{{ asset('images/ukpr-logo.jpg') }}" />
                    </span>
                    <div class="header-options-container go-right">
                        <ul class="navigation">
                            <!-- Chaky Upisi -->
                            <li class="ic-dark-gray back-browse-btn"><span class="span-btn" data-module=""><span class="icon icon-19 ifs-16 imr-5"></span>Back</span></li>
                            <li class="ic-dark-gray forward-browse-btn"><span class="span-btn" data-module="">Forward<span class="icon icon-20 ifs-16 iml-5"></span></span></li>
                            <li class="ic-dark"><span class="span-btn" data-module="Home">Home<span class="icon icon-1 ifs-16 iml-5"></span></span></li>
                            <li class="ic-dark"><span class="span-btn" data-module="MyDesignStudio">My Design Studio<span class="icon icon-2 ifs-16 iml-5"></span></span></li>
                            <li class="ic-dark"><span class="span-btn" data-module="">Exit<span class="icon icon-12 ifs-16 iml-5"></span></span></li>
                        </ul>
                        <div class="cart-options-container">
                            <div class="mobile-cart-trigger">
                            <span class="span-btn"><span class="icon icon-1 ifs-16 iml-5"></span>Shopping Cart</span>
                            </div>
                            <div class="currency-options">
                                <p>Please choose your currency</p>
                                <ul id="select-currency-list"></ul>
                            </div>
                            <div class="cart-options">
                                <p class="ifs-20">
                                    <span class="span-btn" data-module="ShoppingCart"><span class="icon icon-4 ic-dark imr-10"></span>Shopping Cart</span>
                                </p>
                                <p id="cart-header-container" class="cart-value">
                                    <span class="currency-symbol"></span>
                                    <span class="cart-price-total"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
            <!-- MODULE CONTENT -->
                <div id="main-module-container"></div>
                <div class="push-footer"></div>
            </div>
             <!-- FOOTER -->
            <footer id="footer">
                <div class="footer-top">
                    <img class="footer-top" src="{{ asset('images/footer-logo-fanfare.jpg') }}" />
                </div>
                <div class="footer-content">
                    <div class="wrapper clear-float">
                        <div class="go-left footer-info">
                            <h2>CARDS ORDERING QUERIES</h2>
                            <span class="footer-phone">0844 822 2044</span>
                            <p>Mon-Fri: 9:00 AM - 5:00 PM GMT</p>
                            <p class="footer-mail">
                                <span class="icon icon-3 ifs-20 imr-5"></span>
                                <a href="mailto:fanfare@ukpaperrolls.com">fanfare@ukpaperrolls.com</a>
                            </p>
                        </div>
                        <div class="footer-logo">
                            <a href="http://pannovate.com/" target="_blank">
                                <img class="footer-logo-pan" src="{{ asset('images/pannovate-footer-logo.png') }}">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {% block javascriptLibs %}

            <!-- IMPORT JS LIBS -->

            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/lib/jquery-v1.11.3-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-ui-core-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-collapse-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-panpopup-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-tab-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/handlebars-v4.0.2-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/moment-v2.10.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-prototypes.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-noty-v2.3.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/html5shiv.js'
                '@SinglePageClientBundle/Resources/public/js/lib/colorpicker.js'


                '@ElavonCreatorBundle/Resources/public/js/lib/ion.rangeSlider.min.js'
                '@ElavonCreatorBundle/Resources/public/js/lib/jquery.selectBoxIt.min.js'
                '@ElavonCreatorBundle/Resources/public/js/lib/masonry-v3.3.2-min.js'
                '@ElavonCreatorBundle/Resources/public/js/lib/fabric-v1.6.0-min.js'


                '@ElavonCreatorBundle/Resources/public/js/lib/zlaja-dev-script.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% block javascriptBaseCode %}

            <!-- IMPORT JS PROTOTYPES -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/prototypes/string.js'
                '@SinglePageClientBundle/Resources/public/js/prototypes/number.js'
                '@SinglePageClientBundle/Resources/public/js/prototypes/fabric.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT JS HELPERS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/helpers/Class.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/Datetime.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/handlebars.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT APP CONFIG PARAMETERS -->
            {% javascripts
                '@ElavonCreatorBundle/Resources/public/js/config/parameters.js'
                '@ElavonCreatorBundle/Resources/public/js/config/parameters-local.js' %}

                    <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- IMPORT BASE CODE -->
            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/base/Exception.js'
                '@SinglePageClientBundle/Resources/public/js/base/Constants.js'
                '@SinglePageClientBundle/Resources/public/js/base/Config.js'
                '@SinglePageClientBundle/Resources/public/js/base/RESTRequest.js'
                '@SinglePageClientBundle/Resources/public/js/base/LocalStorage.js'
                '@SinglePageClientBundle/Resources/public/js/base/Module.js'
                '@SinglePageClientBundle/Resources/public/js/base/Validation.js'
                '@SinglePageClientBundle/Resources/public/js/base/Model.js'
                '@SinglePageClientBundle/Resources/public/js/base/Controller.js'
                '@SinglePageClientBundle/Resources/public/js/base/Application.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/controllers/Form.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/History.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/Module.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/Authentication.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/FacebookImportPhotos.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/FlickrImportPhotos.js'

                '@ElavonCreatorBundle/Resources/public/js/controllers/eventHandlers/CardDesigner.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/eventHandlers/ElavonCardDesigner.js'

                '@ElavonCreatorBundle/Resources/public/js/controllers/fabric/ElavonCardDesigner.js'

                '@ElavonCreatorBundle/Resources/public/js/controllers/CardDesigner.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/ElavonCardDesigner.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/ShoppingCart.js'

                '@ElavonCreatorBundle/Resources/public/js/controllers/MyDesignStudio.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/Checkout.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/BackgroundImageEffects.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/CardDesignerImageGallery.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/Checkout.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% block javascriptApplicationCode %}

            <!-- IMPORT MODEL EVENTS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/events/model/User.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/ShoppingCart.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/ShoppingCartItem.js'
                '@SinglePageClientBundle/Resources/public/js/events/model/Facebook.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/CardDesign.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/Country.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/ShippingAddress.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/BillingAddress.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/CardDesignSide.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/ElavonCardDesignSide.js'
                '@SinglePageClientBundle/Resources/public/js/events/model/Flickr.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/ImageGalleryCategory.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/ImageGalleryItem.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/CardDesignOrder.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/Checkout.js'
             %}
                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT MODELS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/models/User.js'
                '@ElavonCreatorBundle/Resources/public/js/models/ShoppingCart.js'
                '@ElavonCreatorBundle/Resources/public/js/models/ShoppingCartItem.js'
                '@SinglePageClientBundle/Resources/public/js/models/Facebook.js'
                '@ElavonCreatorBundle/Resources/public/js/models/CardDesign.js'
                '@ElavonCreatorBundle/Resources/public/js/models/CardDesignSide.js'
                '@ElavonCreatorBundle/Resources/public/js/models/ElavonCardDesignSide.js'
                '@ElavonCreatorBundle/Resources/public/js/models/Country.js'
                '@ElavonCreatorBundle/Resources/public/js/models/ShippingAddress.js'
                '@ElavonCreatorBundle/Resources/public/js/models/BillingAddress.js'
                '@SinglePageClientBundle/Resources/public/js/models/Flickr.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ImageGalleryCategory.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ImageGalleryItem.js'
                '@ElavonCreatorBundle/Resources/public/js/models/CardDesignOrder.js'
                '@ElavonCreatorBundle/Resources/public/js/models/Checkout.js'
            %}
                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}


            <!-- IMPORT MODULES -->
            {% javascripts
                '@ElavonCreatorBundle/Resources/public/js/modules/Home.js'
                    
                '@ElavonCreatorBundle/Resources/public/js/modules/controls/CardDesigner.js'
                '@ElavonCreatorBundle/Resources/public/js/modules/controls/ElavonCardDesigner.js'

                '@ElavonCreatorBundle/Resources/public/js/modules/CardDesigner.js'
                '@ElavonCreatorBundle/Resources/public/js/modules/ElavonCardDesigner.js'

                '@ElavonCreatorBundle/Resources/public/js/modules/ShoppingCart.js'
                '@ElavonCreatorBundle/Resources/public/js/modules/MyDesignStudio.js'
                '@ElavonCreatorBundle/Resources/public/js/modules/Checkout.js'
                '@ElavonCreatorBundle/Resources/public/js/modules/ThankYou.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT APP CODE -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/app/LoginApplication.js'
                '@ElavonCreatorBundle/Resources/public/js/app/ElavonClient.js'
                '@ElavonCreatorBundle/Resources/public/js/bootstrap.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% include 'ElavonCreatorBundle:Popups:formPopupTemplate.html.twig' %}
        {% include 'ElavonCreatorBundle:Popups:formPopupContentTemplate.html.twig' %}

        {% include "SinglePageClientBundle:Default:notification.templates.html.twig" %}

        <script>

             (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));

        </script>
        <script>
            $(document).ready(function(){
            //Detect does device support touch -> if not add class .no-touch
                if (!("ontouchstart" in document.documentElement)) {
                    document.documentElement.className += " no-touch";
                }
                
                var mobileCartTrigger = $('.mobile-cart-trigger'),
                    headerContainer = $('.header-options-container'),
                    cartContainer = $('.cart-options-container');

                mobileCartTrigger.on('click', function(){
                    headerContainer.toggleClass('opened-cart');
                });
            });
        </script>


    </body>
</html>
