/***********************************************************************
                                LOGIN PAGE
***********************************************************************/
#login-module-holder {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.backhead-bg{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 300px;
    background-color: #485566;
}
.wrapper{
    position: relative;
    width: 1010px;
    margin: 0 auto;
    z-index: 2;
}
.login-box{
    width: 600px;
    min-height: 300px;
    margin: 100px auto 0 auto;
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}
.case-logo{
    display: block;
    width: 100px;
    height: auto;
    margin: 0px auto 20px auto;
}
.bankvault-logo{
    display: block;
    width: 300px;
    height: auto;
    margin: 40px auto 0 auto;
}

#login-form-error-message-container {
    color: red;
    text-align: center;
}