{% macro textInputSet(name, label, value, nameSpace, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="text" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input">
    </div>

{% endmacro %}

{% macro passwordInputSet(name, label, value, nameSpace, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="password" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input">
    </div>

    <input type="text" name="{{name}}" value="{{value}}" />
{% endmacro %}

{% macro textAreaInputSet(name, label, value, nameSpace, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <input type="password" class="form-field-input" name="{{name}}" id="{{name}}-{{nameSpace}}-input">
    </div>

    <textarea id="{{name}}-{{nameSpace}}-input" name="{{ name }}" class="form-field-input"></textarea>
{% endmacro %}

{% macro selectInputSet(name, label, defaultOptionLabel, nameSpace, class) %}

    <div class="form-field-set {{class}}">
        <span class="form-field-error form-field-error-{{name}}"></span>
        <label class="form-field-label" for="{{name}}-{{nameSpace}}-input">{{label}}</label>
        <span class="select-container">
            <select id="{{name}}-{{nameSpace}}-input" name="{{ name }}" class="form-field-input">
                <option value="" selected>{{defaultOptionLabel}}</option>
            </select>
        </span>
    </div>
{% endmacro %}