<div id="{% block moduleId %}Generic{% endblock %}"  class="module-holder{% block moduleClass %}{% endblock %}">
    
    {% block module %}

        <div class="module-header-container">
            {% block moduleHeader %}{% endblock %}
        </div>

        <div class="module-content-container">
            {% block content %}{% endblock %}
        </div>

        <div class="module-footer-container">{% block footer %}{% endblock %}</div>
    {% endblock %}

</div>