<div id="payment-thankyou-page" class="wrapper thank-you-page" data-order-id="{{orderId}}">
    <span class="icon icon-27 ifs-66 ic-green thank-you-icon"></span>
    <p class="thanks-message">
        {{message}}
    </p>
    <p class="order-payment-details">
        Your order ID is: <b>{{orderId}}</b>
    </p>
    <p class="thanks-info">
        You can track the status of your order from <span data-module="MyDesignStudio" class="link">My Recent Orders</span> page.
    </p>
</div>