/*Forms*/
.form-box{
	width: 100%;
	padding: 0 50px;
}
.form-field{
	position: relative;
	padding-top: 20px;
}
.form-field label{
	position: absolute;
	top: 27px;
	left: 2px;
	z-index: 1;
	font-size: 16px;
	color: #555;
	transition: all 0.3s;
}
.form-field label.full-input{
	top: 14px;
    color: #a6c143;
    font-size: 12px;
}
.form-field label.full-input-blur{
    color: #909090;
}
.form-field input{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 10px 10px 5px 10px;
	color: #555;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    background-color: transparent;
}
.form-field .green-border{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 2;
	width: 0;
	height: 2px;
	opacity: 0;
	background-color: #a6c143;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form-field .green-border.full{
	left: 0;
	width: 100%;
	opacity: 1;
}
.form-field .green-border.full-blur{
	background-color: #909090;
}
.form-box .input-btn{
	display: block;
	width: 200px;
	margin: 20px auto 0 auto;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: #485566;
}
/*
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
*/
