.span-btn-txt{
    vertical-align: middle;
}
.green-btn{
    padding: 10px 20px;
    border: 1px solid #80962D;
    color: #fff;
    background: #A6C143;
}
.no-touch .green-btn:hover{
    cursor: pointer;
    border: 1px solid #A6C143;
    color: #A6C143;
    background: #fff;
}
.gray-btn{
    padding: 10px 20px;
    border: 1px solid #B2B2B2;
    color: #4F4F4F;
    background: #eee;
}
.no-touch .gray-btn:hover{
    color: #fff;
    background: #555;
}
.label-btn{
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.label-btn input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-left: 183px;
}
/* UI LOADER */
#main-loader {
    display: block;
    visibility: visible;
    z-index: 100000;
    background-color: rgba( 255, 255, 255, 0.95 );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
#main-loader.hidden {
    display: none;
    visibility: hidden;
    z-index: -1;
    background-color: rgba(0,0,0,0);
}
/* END UI LOADER */