@media screen and (max-width: 1660px){
	/*Nav and Logos*/
	.logo-container{
		width: 201px;
		padding-top: 14px;
	}
	.bankvault-innerpage-logo {
	    width: 90%;
	}
	.case-logo-main img {
	    padding-top: 4%;
	}
	/*Layout*/
	.page-header {
	    position: relative;
	    width: 100%;
	    padding: 15px;
	}
	.page-content{
		padding: 0px 15px;
	}
	.main-nav-section{
		width: 200px;
	}
	.main-container-wrap{
    	padding: 55px 0 0 200px;
	}
	.page-flex-absolute {
	    width: 250px;
	}
	.page-flex {
	    width: 100%;
	    padding-left: 265px;
	}
	.nav-toggle {
    	padding: 18px 12px;
	}
	/*Flex menu*/
	.flex-menu-left li, .content-box-header, ul.btn-nav-block li{
		font-size: 12px;
	}
	/*Tables*/
	.table-wrapper table{
		font-size: 12px;
	}
}
@media screen and (max-width: 1200px){
	/*Navigation*/
	.main-container-wrap, .main-container-wrap.closed{
    	padding: 55px 0 0 0px;
	}
	.main-nav-section, .main-nav-section.closed{
		left: -200px;
	}
	.main-nav-section.opened{
		left: 0!important;
		z-index: 999;
		width: 201px;
		overflow-y: scroll;
	}
	.wrapper{
		width: 100%;
	}
}
@media screen and (max-width: 980px){
	.page-flex-absolute {
	    width: 100%;
	}
	.page-flex {
	    padding-left: 0;
	}
	/*Responsive top navigation*/
	.top-nav-opener{
		position: fixed;
	    z-index: 1000;
	    color: #fff;
	    right: 10px;
	    padding: 18px 12px;
	    cursor: pointer;
	}
	.bankvault-nav{
		display: none;
		position: fixed;
	    z-index: 999;
	    height: 57px;
	    width: 100%;
	    top: 56px;
	    background: rgb(72, 85, 102);
	    border-top: 1px solid #637388;
	}
	.bankvault-nav.opened{
		display: block;
	}
	.bankvault-nav > li{
		width: 33%;
	}
	.bankvault-nav > li.middle{
		width: 34%;
	}
	ul.btn-nav-inline .span-btn {
	    text-align: center;
	}
	.page-flex-absolute{
		float: none;
	}
}
@media screen and (max-width: 768px){
	.table-holder-flex{
		overflow-x: scroll;
    	float: none;
    	width: 97%;
    	padding: 0;
    	margin: 0 auto;
	}
	.page-header h2 {
	    font-size: 20px;
	    line-height: 45px;
	    text-align: center;
	}
}
@media screen and (max-width: 650px){
	.login-box{
		width: 98%;
	}
	.form-box {
    	padding: 0 10px;
	}
	ul.btn-nav-inline .span-btn, ul.btn-nav-inline li.active > .span-btn{
    	padding: 22px 0!important;
    	font-size: 12px;
	}
	ul.btn-nav-inline ul.dropdown-menu li span {
	    font-size: 10px;
	}
	.page-header h2{
		float: none;
	}
	.general-actions-box{
		width: 100%;
    	text-align: center;
	}
	.label-btn{
		width: 180px;
		margin: 0 auto;
	}
	.datepick-popup{
		top: 126px!important;
	}
	.image-box-third {
	    width: 100%;
	}
}
@media screen and (max-width: 500px){
	.date-box-actions input {
    	width: 90px;
	}
	.user-btn{
		font-size: 12px;
	}
	.approve-box .user-btn{
		width: 100%;
    	margin-bottom: 5px;
	}
}
@media screen and (max-width: 400px){
	header {
	    background-color: #FFFFFF;
	}
	.page-title-dinamic{
		display: none;
	}
	.top-nav-opener {
	    right: 0px;
	    padding: 19px 18px;
	    background-color: #485566;
	}
	.logo-container {
	    width: 100%;
	    padding-left: 0;
	}
	.bankvault-innerpage-logo {
   	 	width: 200px;
	}
	.order-total-table p span {
	    display: inline-block;
	    width: 60px;
	}
	.order-total-table p.total, .order-total-table p {
    	font-size: 15px;
	}
}
@media screen and (max-height: 470px){
	.login-box {
    	margin: 10px auto 0 auto;
	}
	.bankvault-logo {
    	margin: 20px auto 0 auto;
	}
	
}