/***********************************************************************
							GLOBAL CLASSES
***********************************************************************/
@font-face {
  font-family: "fanfare";
  src:url("/fonts/icofont/fanfare.eot");
  src:url("/fonts/icofont/fanfare.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icofont/fanfare.woff") format("woff"),
    url("/fonts/icofont/fanfare.ttf") format("truetype"),
    url("/fonts/icofont/fanfare.svg#fanfare") format("svg");
  font-weight: normal;
  font-style: normal;
}
.go-left{
	float: left;
}
.go-right{
	float: right;
}
.clear-float:after{
	content: '';
	display: block;
	clear: both;
}
.display-none{
	display: none;
}
.pointer-indicator{
	cursor: pointer;
}
span.span-btn{
	display: inline-block;
	cursor: pointer;
}
.no-padding{
	padding: 0!important;
}
/* Checkbox Style */
input[type="checkbox"]{
	display: none;
	margin-bottom: 10px;
}
.squared-input{
	margin: 10px 0 15px 0;
	position: relative;
}
.squared-input label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	background-color: #fff;
	border: 1px solid #485566;
	border-radius: 2px;
}
.squared-input label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #485566;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .squared-input label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.squared-input input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squared-span{
	display: inline-block;
	margin-top: 3px;
	padding-left: 26px;
	color: #555;
}
.squared-input span{
	font-size: 16px;
}
/*Shadow Box*/
.shadow-box{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.noty-circle{
	display: block;
    position: absolute!important;
    right: 20px;
    top: 18px;
    width: 20px;
    height: 20px;
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}
.noty-circle-red{
	background-color: #f00;
	color: #fff;
}
.noty-circle-gray{
	background-color: #eee;
	color: #555;
}
/***********************************************************************
						GLOBAL PAGE STYLES
***********************************************************************/
body{
	background-color: #F5F5F5;
}
/*Button Nav*/
ul.btn-nav-block li{
	width: 100%;
	
}
ul.btn-nav-inline > li{
	border-left: 1px solid #637388;
}
ul.btn-nav li{
	position: relative;
	float: left;
}
ul.btn-nav-inline li.active{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
ul.btn-nav-inline li span{
	color: #fff;
}
ul.btn-nav-inline ul.dropdown-menu li span{
	color: #485566;
}
ul.btn-nav span{
	position: relative;
	z-index: 2;
}
ul.btn-nav .span-btn{
	position: relative;
	z-index: 2;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul.btn-nav .span-btn:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	left: 50%;
	z-index: 2;
	height: 3px;
	background-color: #485566;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

ul.btn-nav .span-btn:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 0;
	height: 0;
	border-radius: 200%;
	background-color: #fafafa;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
}
ul.btn-nav-inline li .span-btn:before{
	background-color: #637388;
}

.no-touch ul.btn-nav .span-btn:hover:before, ul.btn-nav li.active > .span-btn:before{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 0;
	opacity: 1;
}

.no-touch ul.btn-nav .span-btn:hover:after, ul.btn-nav li.active > .span-btn:after{
	width: 100%;
	left: 0;
	opacity: 1;
}
ul.btn-nav-inline li .span-btn:after{
	display: none;
}
ul.btn-nav .span-btn{
	width: 100%;
	padding: 20px;
	color: #555;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.no-touch ul.btn-nav .span-btn:hover, ul.btn-nav li.active > .span-btn{
	width: 100%;
	padding: 20px;
	color: #485566;
}
/*Menu dropdown*/
ul.dropdown-menu{
	width: 100%;
	height: 0;
	overflow: hidden;
}
ul.btn-nav-block ul.dropdown-menu .span-btn{
	padding-left: 50px;
}
ul.btn-nav-block ul.opened-menu:last-child{
	border-bottom: 1px solid #eee;
}
/*Float menu dropdown*/
.float-dropdown-menu{
	position: absolute;
	background: #fff;
}
ul.dropdown-menu.opened-menu{
	height: auto;
}

/*Float dropdown*/
.float-dropdown-trigger{
	position: relative;
}
.float-dropdown-menu{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.float-dropdown-menu li{
	width: 100%;
	border: none;
}
.float-dropdown-menu .span-btn:after, .float-dropdown-menu .span-btn:before{
	display: none!important;
}
.float-dropdown-menu span{
	font-size: 12px;
}
/*Btns*/
.user-btn.span-btn{
	position: relative;
    padding: 15px 40px;
    text-align: center;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.user-btn:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	opacity: 0;
	transition: all 0.3s;
}
.no-touch .user-btn:hover:before{
	opacity: 1;
}
@-webkit-keyframes filterAnimation{
  0%{ opacity: 0; }
  30%{opacity: 1;}
  70%{width: 100%;}
  100%{ opacity: 0;}
}
@-moz-keyframes filterAnimation{
  0%{ opacity: 0; }
  30%{opacity: 1;}
  70%{width: 100%;}
  100%{ opacity: 0;}
}
@-o-keyframes filterAnimation{
  0%{ opacity: 0; }
  30%{opacity: 1;}
  70%{width: 100%;}
  100%{ opacity: 0;}
}
@keyframes filterAnimation{
  0%{ opacity: 0; }
  30%{opacity: 1;}
  70%{width: 100%;}
  100%{ opacity: 0;}
}
.user-btn span.filter{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.25);
}
.user-btn.clicked-btn span.filter{
	animation-name: filterAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}
.user-btn.span-btn:after{
	position: absolute;
	top: 14px;
	right: 25px;
	opacity: 0;
	display: block;
	color: #fff;
	font-family: "fanfare" !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.no-touch .user-btn.span-btn:hover:after{
	right: 15px;
	opacity: 1;
}
.delete-btn{
    background-color: #F73535;
    color: #fff;
}
.delete-btn:after{
	content: 'E';
}
.approve-btn{
    background-color: #a6c143;
    color: #fff; 
}
.approve-btn:after{
	content: 'A';
}
.notsure-btn{
    background-color: #FFD33D;
    color: #fff;
}
.notsure-btn:after{
	content: 'L';
}
.reject-btn{
    background-color: #F73535;
    color: #fff;
}
.reject-btn:after{
	content: 'n';
}
.create-btn{
    background-color: #485566;
    color: #fff;
}
.create-btn:after{
    content: 'p';
}
.csv-btn{
    background-color: #485566;
    color: #fff;
}
.csv-btn:after{
    content: 'g';
}
.save-btn{
    background-color: #a6c143;
    color: #fff;
}
.save-btn:after{
    content: 'g';
}
.upload-btn{
	background-color: #485566;
    color: #fff;
}
.upload-btn:after{
    content: 'f';
}
.border-box-wrap{
	width: 100%;
	text-align: center;
	border-top: 1px solid #eee;
}
.border-box-btn:before{
	display: none!important;
}
.border-box-btn:after{
	right: 15px!important;
	opacity: 1!important;
	color: #485566!important;
	font-size: 14px;
	top: 15px!important;
}
.border-box-btn{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 40px!important;
	text-align: center;
	color: #485566;
	background: transparent!important;
}
.no-touch .border-box-btn:hover, .no-touch .border-box-btn:hover:after{
	color: #485566;
}

/***********************************************************************
								HEADER
***********************************************************************/
header{
	position: fixed;
	z-index: 3;
	top: 0;
	width: 100%;
	height: 56px;
	color: #555;
	background-color: #485566;
}
.logo-container{
	width: 300px;
    height: 56px;
    padding-top: 12px;
    padding-left: 43px;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #eee;
    background-color: #fff;
}
.bankvault-innerpage-logo{
	width: 200px;
}

/***********************************************************************
							MAIN PAGE GRID
***********************************************************************/
.main-nav-section{
	position: fixed;
	top: 55px;
	left: 0px;
	bottom: 0;
	z-index: 2;
	width: 299px;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main-nav-section.closed{
	left: -299px;
}
.case-logo-main{
	position: relative;
	height: 150px;
	padding-top: 5%;
	border-bottom: 1px solid #F5F5F5;
	text-align: center;	
}
.nav-toggle{
	position: absolute;
    left: 0;
    top: 0;
    height: 56px;
    padding: 18px 18px;
    border-right: 1px solid #eee;
    cursor: pointer;
    color: #485566;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.case-logo-main img{
	max-width: 200px;
    max-height: 90%;
}
.main-container-wrap{
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 55px 0 0 299px;
	background-color: #F5F5F5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main-container-wrap.closed{
	padding: 55px 0 0 0;
}
/***********************************************************************
								LOGIN PAGE
***********************************************************************/
.backhead-bg{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 300px;
	background-color: #485566;
}
.wrapper{
	position: relative;
	width: 1010px;
	margin: 0 auto;
	z-index: 2;
}
.login-box{
	width: 600px;
	min-height: 300px;
	margin: 100px auto 0 auto;
	padding: 40px 0;
	background-color: #fff;
}
.case-logo{
	display: block;
    width: 100px;
    height: auto;
    margin: 0px auto;
}
.bankvault-logo{
	display: block;
	width: 300px;
	height: auto;
	margin: 40px auto 0 auto;
}

/*** FORMS ***/

.form-field-set {
    display: block;
    position: relative;
    clear: both;
    margin-bottom: .5em;
}
.form-controls { float: right; }
.form-status-msg {
    padding: .75em;
    -webkit-border-radius: .375em;
    -moz-border-radius: .375em;
    border-radius: .375em;
    text-align: center;
    margin: 1em auto;
    position: relative;
}
.form-status-msg .text-content {
    padding: 0 2.6875em;
}
.form-status-msg .close-btn-form-status-msg {
    background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
    width: 27px;
    height: 27px;

    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;

    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: red;
    text-indent: -9999999px;
}
.no-touch .form-status-msg .close-btn-form-status-msg:hover,
.form-status-msg .close-btn-form-status-msg:focus,
.form-status-msg .close-btn-form-status-msg:active {
    color: #fff;
    background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
    border: none;
    opacity: .5;
}
.form-error-msg {
    color: #ee3b24;
    background: #dca7a7;
    border: 1px solid #C49595;
}
.form-success-msg {
    color: #007700;
    background: #A7E8E8;
    border: 1px solid #7FDBDB;
}
.form-field-error {
    position: relative;
    display: block;
    clear: both;
    color: red;
    padding: .125em 0;
}
.form-field-error li { padding: .125em 0;}
.form-field-set .form-field-error ul{
	
	margin-left: 33%;
	position: absolute;
    right: -30px;
    z-index: 99;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    top: 15px;
}
/*********************************************************************
							Order Details Page
*********************************************************************/
.order-details-pannel{
	position: relative;
	z-index: 10;
}
.order-details-pannel-inner{
	position: absolute;
	width: 100%;
	
}
/*Table header*/
.order-items-table{
	width: 100%;
}
.order-items-table:hover{
	box-shadow: 0 1px 3px #bbb;
}
.order-items-table th{
	padding: 10px;
}
.order-items-table > thead > tr:nth-child(1) > th:last-child {
    border-right: 1px solid #485566;
}
.order-items-table tbody tr:nth-child(odd) td{
	background-color: #F7F7F7;
}
.order-total-table{
	margin-top: 10px;
}
.order-total-table p{
	margin-bottom: 10px;
	font-size: 16px;
	text-align: right;
	color: #868686;
}
.order-total-table p.total{
	font-size: 18px;
	font-weight: bold;
	color: #485566;
}
.order-total-table p span{
	display: inline-block;
	width: 100px;
}
.date-box-actions{
	margin-top: 10px;
}
.date-box-actions input{
    line-height: normal;
    width: 130px;
    margin-left: 5px;
    padding: 5px;
}
.close-panel-icon{
	position: absolute;
	right: 10px;
}