{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}Checkout{% endblock %}

{% block title %}Checkout{% endblock %}

{% block moduleHeader %}
<div class="page-top-empty"></div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div>
        <p class="page-section-pre-title">Shopping Cart</p>
        <p class="page-section-title">Order Summary</p>
    </div>
    <div class="content-box">
        <p class="checkout-section-title border-title">Shopping Cart Items</p>
        <div class="checkout-table">
            <ul class="checkout-table-header clear-float">
                <li>Design Name</li>
                <li>Qty</li>
                <li>Price per Card</li>
                <li>Denomination(s)</li>
                <li>Totals</li>
            </ul>
        
            <ul id="checkout-items-list"></ul>

        </div>
    </div>

    <div class="shopping-cart-price-box content-box clear-float">
        <p class="checkout-section-title border-title">Order Totals</p>
        <ul id="shopping-cart-total-list" class="sci-price-table go-right">
            
        </ul>
    </div>
    <div class="clear-float container-for-forms">
        <div class="checkout-billing-address content-box grid-half">
            <p class="checkout-section-title border-title">Billing Address</p>
            <div class="existing-address-field">
                <span class="existing-address-field-title">Existing address</span>
                <select id="existing-billing-address-select"></select>
            </div>
            <form id="billing-address-form" class="clear-float" action="#">

                <div class="checkout-address-form clear-float">
                    {{ forms.textInputSet('company', 'Company*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('firstName', 'First Name*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('lastName', 'Last Name*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('email', 'Email*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('address', 'Address*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('city', 'City*', '', 'BillingAddress') }}
                    {{ forms.textInputSet('postcode', 'Postcode*', '', 'BillingAddress') }}
                    {{ forms.selectInputSet('country', 'Country*', 'Select Country', 'BillingAddress') }}
                    {{ forms.textInputSet('phone', 'Phone', '', 'BillingAddress') }}
                </div>

                <div class="save-cancel-new-address-field">
                    <span id="create-billing-address-button" class="submit-button span-btn gray-btn transition" data-role="create">
                        <span class="span-btn-txt">Create new</span>
                    </span>
                    <span id="update-billing-address-button" class="submit-button span-btn gray-btn transition" data-role="update">
                        <span class="span-btn-txt">Update</span>
                    </span>
                     <span id="update-billing-address-button" class="submit-button span-btn gray-btn transition" data-role="delete">
                        <span class="span-btn-txt">Delete</span>
                    </span>
                </div>

            </form>

        </div>
        <div class="checkout-shipping-address content-box grid-half">
            <p class="checkout-section-title border-title">Shipping Address</p>
            <div class="checkout-shipping-options">
                <div class="existing-address-field">
                    <span class="existing-address-field-title">Existing address</span>

                    <select id="existing-shipping-address-select"></select>
                    <ul id="existing-shipping-addresses-list" class="existing-address-list"></ul>

                </div>
                <div class="billing-address-field">
                    <div class="squared-input">
                        <input type="checkbox" value="None" id="same-as-billing-checkbox" name="check" />
                        <label for="same-as-billing-checkbox"></label>
                        <span class="squared-span">Same as a Billing Address</span>
                    </div>
                </div>
                <div class="new-shipping-address-field">
                    <span id="create-shipping-address-button" class="submit-button span-btn gray-btn transition" data-role="create">
                        <span class="span-btn-txt">Add New Shipping Address</span>
                    </span>
                </div>
                <script>
                    $(document).ready(function(){

                        var checkBoxAddress = $('.billing-address-field label');
                        var optionsFormField = $('.checkout-shipping-options');
                        var addressFormField = $('.checkout-shipping-address .checkout-address-form');
                        var newAddressFieldBtn = $('.new-shipping-address-field .span-btn');
                        var cancelNewAddressBtn = $('.cancel-new-address');

                        newAddressFieldBtn.on('click', function(){
                            optionsFormField.hide();
                            addressFormField.show();
                        });
                        cancelNewAddressBtn.on('click', function(){
                            optionsFormField.show();
                            addressFormField.hide();
                        });
                        checkBoxAddress.on('click', function () {
                            if(document.getElementById('same-as-billing-checkbox').checked) {
                                $(".existing-address-field").show();
                                $('.billing-address-field').css({
                                    'border-top' : '1px solid #eee',
                                    'padding': '20px 0'
                                });
                            } else {
                                $(".existing-address-field").hide();
                                $('.billing-address-field').css({
                                    'border-top' : 'none',
                                    'padding': '5px 0 20px 0'
                                });
                            }  
                        });
                    });

                </script>
            </div>

            <form id="shipping-address-form" action="#">
                <div class="checkout-address-form">
                    
                    {{ forms.textInputSet('firstName', 'First Name*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('lastName', 'Last Name*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('email', 'Email*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('address', 'Address*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('city', 'City*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('postcode', 'Postcode*', '', 'ShippingAddress') }}
                    {{ forms.selectInputSet('country', 'Country*', 'Select Country', 'ShippingAddress') }}
                    {{ forms.textInputSet('phone', 'Phone', '', 'ShippingAddress') }}
                    
                    <div class="save-cancel-new-address-field">
                        <span id="create-shipping-address-button" class="submit-button span-btn gray-btn transition" data-role="create">
                            <span class="span-btn-txt">Save</span>
                        </span>
                        <span class="span-btn gray-btn cancel-new-address transition">
                            <span class="span-btn-txt">Cancel</span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="payment-box clear-float">
        <span class="go-left payment-info">
            *We will notify you, once your card have been approved, produced and dispatched to your shipping address.
        </span>
        <span id="proceed-to-payment-button" class="go-right span-btn green-btn transition">
            <span class="span-btn-txt">Proceed to Payment</span> <span class="icon icon-39 ifs-26 iml-10"></span>
        </span>
    </div>
</div>

<div id="delete-shipping-address-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none confirm-popup"></div>

<div id="proceed-to-payment-popup"
    data-template="form-popup-template"
    data-content-template="proceed-to-payment-popup-content-template"
    class="tools-popup animated display-none"></div>

{{ '<script id="existing-shipping-address-template" type="text/x-handlebars-template">
    <li>{{firstName}} {{lastName}}</li>
    <li>{{email}}</li>
    <li>{{address}}</li>
    <li>{{city}}</li>
    <li>{{country.name}}</li>
    <li>{{postcode}}</li>
    <li>{{phone}}</li>
</script>' | raw }}

{{ '<script id="checkout-item-total" type="text/x-handlebars-template">

    <li><span>Cart Subtotal:</span><span>{{symbol}}{{subtotal}}</span></li>
    <li><span>Shipping Charge:</span><span>{{symbol}}{{charge}}</span></li>
    <li><span>Tax Total:</span><span>{{symbol}}{{tax}}</span></li>
    <li class="sci-price-total"><span>Order Total:</span><span>{{symbol}}{{total}}</span></li>

</script>' | raw }}

{{ '<script id="checkout-cart-item-template" type="text/x-handlebars-template">

<li class="checkout-table-row clear-float" data-id="{{id}}">
    <div>{{cardDesign.name}}</div>
    <div>{{quantity}}</div>
    <div>{{shoppingCart.user.currency.symbol}} {{pricePerCard}}</div>
    <div class="denomination-table-cell">

        {{#ifExp shoppingCart.user.cardDesign "===" "Promo"}}
            {{#each cardDenomination}}
                <span>{{quantity}} x {{../shoppingCart.user.currency.symbol}} {{denomination}}</span>
            {{/each}}
        {{else}}
            <span>-</span>
        {{/ifExp}}

    </div>
    <div>{{shoppingCart.user.currency.symbol}} {{totalPrice}}</div>
</li>

</script>' | raw }}

{% include 'ElavonCreatorBundle:Popups:proceedToPaymentTemplate.html.twig' %}

{% endblock %}