{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}Creator-module{% endblock %}

{% block title %}Creator{% endblock %}

{% block moduleHeader %}
    <div class="page-top creator-page-top">
        <div class="page-top-navigation card-designer-menu">
            <div class="page-top-navigation-inner clear-float">
                <ul class="go-left clear-float">
                    <li><span id="create-new-design-button" class="span-btn">New Design</span></li>
                    <li class="dropdown-menu-trigger middle-col">
                        <span class="span-btn">Save Design</span>
                        <ul class="hidden-menu">
                            <li><span id="save-card-design-button">Save</span></li>
                            <li><span id="save-as-design-button">Save As</span></li>
                        </ul>
                    </li>
                    <li class="dropdown-menu-trigger">
                        <span id="load-design-button" class="span-btn">Load Design</span>
                        <ul id="recent-card-designs-list" class="hidden-menu"></ul>
                    </li>
                </ul>
                <p class="go-right creator-design-name">
                    Design name: Some Design Name
                </p>
            </div>
        </div>
        <div class="page-top-green-line"></div>
        <div class="page-top-message clear-float">
            <div class="page-top-message-inner-wrapper clear-float">
                <div class="amount-price-info go-left">
                    <p class="page-top-message-text calculated-price">Price per Card: <span data-currency=""> </span><span data-price="per-card"></span></p>
                    <p class="page-top-message-text calculated-price">Total Price: <span data-currency=""> </span><span data-price="total">0</span></p>
                </div>
                <div class="number-of-cards go-right">
                    <p>No. of cards</p>
                    <div class="card-amount-controler-wrap">
                        <input id="card-designer-number-of-cards-input" class="span-btn card-amount-input" type="text" value="1" />
                        <span class="span-btn card-amount-increament">+</span>
                        <span class="span-btn card-amount-decreament">-</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="wrapper creator-page-wrapper">
    <div>
        <p class="page-section-title">Design Your Card</p>
        <p class="page-section-subtitle">Before you start, please read the <span class="image-guidelines-trigger">Image Guidelines</span></p>
    </div>

    <div class="card-designer-wrapper">

<!-- Card Designer Responsive Controls -->
    <ul class="responsive-controles">
        <li class="bgTrig tool-button" data-tool-type="background-image-tools">Background</li>
        <li class="imageTrig tool-button" data-tool-type="logo-image">Image</li>
        <li class="textTrig tool-button" data-tool-type="text-field">Text</li>
        <li class="logoTrig tool-button" data-tool-type="logo-field">Logo</li>
    </ul>
<!-- Card side Switch Navigation - remove after develop -->
        <ul class="card-side-switch-nav clear-float">
            <li><span id="card-front-side-switch-button" class="active span-btn" data-card-side="front">Card Front Side</span></li>
            <li><span id="card-back-side-switch-button" class="span-btn" data-card-side="back">Reverse</span></li>
        </ul>
<!-- Background Tools Pannel - remove after develop -->
        <div class="card-designer-background-tools clear-float">
            <!-- Trigger for background tools pannel on xs devices -->
            <div class="xs-panel-opener"><span class="icon icon-53"></span></div>
            <div class="go-left card-background-options">
                <p>Card Background Options</p>

                <span id="background-color-tool-button" class="span-btn tool-button" data-tool-type="background-color-tools">
                    <span></span> Color
                </span>

                <span id="background-image-tool-button" class="span-btn tool-button" data-tool-type="background-image-tools">
                    <span></span> Image
                </span>
            </div>
            <div class="go-right card-background-options-tools clear-float">
                <div class="background-image-tools">
                    <div class="background-scale-box go-left">
                        <span>Background Scale</span>
                        <input type="text" id="background-image-slider" name="rangeSlider" value="" data-operation-type="background-image-slider"/>
                    </div>
                    <div class="background-size-tools go-left clear-float">
                        <div>
                            <span>Mirror</span>
                            <span class="control-button span-btn" data-operation-type="flip-horizontally"><span class="icon icon-8"></span></span>
                        </div>
                        <div>
                            <span>Flip</span>
                            <span class="control-button span-btn" data-operation-type="flip-vertically"><span class="icon icon-9"></span></span>
                        </div>
                        <div>
                            <span>Rotate</span>
                            <span class="control-button span-btn" data-operation-type="rotate-left"><span class="icon icon-10"></span></span>
                            <span class="control-button span-btn" data-operation-type="rotate-right"><span class="icon icon-11"></span></span>
                        </div>
                        <div>
                            <span>Effects</span>
                            <span class="span-btn"><span class="icon icon-14"></span></span>
                        </div>
                    </div>
                </div>
                <div class="background-color-tools">
                    <div class="standard-colors-holder">
                        <ul id="background-color-pallete" class="color-pallete color-pallete-horizontal clear-float" data-color-for="background" data-auto-hide="false">
                            <li style="background-color: rgb(255, 255, 255);"><span></span></li>
                            <li style="background-color: rgb(208, 208, 208);"><span></span></li>
                            <li style="background-color: rgb(119, 119, 119);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 170, 170);"><span></span></li>
                            <li style="background-color: rgb(255, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(255, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(170, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(144, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(255, 108, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 255, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 187, 0);"><span></span></li>
                            <li style="background-color: rgb(240, 230, 140);"><span></span></li>
                            <li style="background-color: rgb(210, 178, 41);"><span></span></li>
                            <li style="background-color: rgb(170, 255, 170);"><span></span></li>
                            <li style="background-color: rgb(0, 255, 0);"><span></span></li>
                            <li style="background-color: rgb(0, 170, 0);"><span></span></li>
                            <li style="background-color: rgb(107, 142, 35);"><span></span></li>
                            <li style="background-color: rgb(0, 119, 0);"><span></span></li>
                            <li style="background-color: rgb(187, 221, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 255, 221);"><span></span></li>
                            <li style="background-color: rgb(170, 170, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 170);"><span></span></li>
                        </ul>
                    </div>
                    <div class="color-picker-holder">
                        <input type="text" id="background-image-colorpicker" value="More Colours" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-designer-main-area clear-float">
<!-- Left Pannel - remove after develop -->
            <div class="card-designer-tools go-left">
                <p class="card-designer-pannel-title">Add Custom Fields</p>
                <span class="span-btn tool-button card-designer-btn-icon transition" data-tool-type="logo-image">
                    <span class="icon icon-6"></span>Image Field
                </span>
                <span class="span-btn tool-button card-designer-btn-icon transition" data-tool-type="text-field">
                    <span class="icon icon-7"></span>Text Field
                </span>
                <span class="span-btn tool-button card-designer-btn-icon transition" data-tool-type="logo-field">
                    <span class="icon icon-30"></span>Choose Logo
                </span>
                <span class="span-btn tool-button card-designer-btn-icon transition" data-tool-type="disclaimer-text">
                    <span class="icon icon-30"></span>Disclaimer text
                </span>
            </div>
<!-- Designer area - remove after develop -->
            <div id="card-preview-holder" class="card-designer-area preview-section go-left">
                <div class="preview-content">
                    <div id="card-design-loader" class="display:none;"><span class="loader-text">Loading...</span></div>
                    <canvas id="card-front-side-design-editor" class="card-design-editor" width="476" height="300" />
                    <canvas id="card-back-side-design-editor" class="card-design-editor" width="476" height="300" />
                </div>
            </div>
<!-- Right Pannel - remove after develop -->
            <div class="card-designer-tools-options go-right">
                <span class="close-pannels">Close</span>
                <div class="background-tools-pannel tools-pannel active-tools-pannel">
                    <p class="card-designer-pannel-title">Background Image</p>
                    <label for="browse-background-image-input" class="span-btn card-designer-btn-icon transition">
                        <span class="icon icon-29"></span><span class="display-none-xs">Upload Image</span>
                        <input id="browse-background-image-input"
                                class="browse-file-input"
                                type="file"
                                accept="image/*"
                                data-operation-type="upload-file"
                                data-purpose="background-image" />
                    </label>
                    <p class="designer-button-info no-tablet">
                        Use your favourite photo as card background
                    </p>
                    <span id="import-from-gallery-button" class="span-btn card-designer-btn-icon transition">
                        <span class="icon icon-13"></span><span class="display-none-xs">Gallery</span>
                    </span>
                    <p class="designer-button-info no-tablet">
                        Use an image from our wide selection of organized galleries
                    </p>
                    <span id="import-from-facebook-button" class="control-button span-btn transition card-designer-btn-icon" data-operation-type="import-facebook"><span class="icon icon-15"></span><span class="display-none-xs">Facebook</span></span>

                    <span id="import-from-flickr-button" class="control-button span-btn card-designer-btn-icon transition" data-operation-type="import-flickr"><span class="icon icon-16"></span><span class="display-none-xs">Flickr</span></span>

                    <p class="designer-button-info no-tablet">
                        Upload photo from your Social Network Profile
                    </p>

                    <span id="delete-background-button" class="span-btn delete-bg-button transition card-designer-btn-icon go-right"><span class="icon icon-33"></span><span class="display-none-xs">Delete Background</span></span>
                </div>
                <div class="image-tools-pannel tools-pannel">
                    <p class="card-designer-pannel-title">Image Features</p>
                    <p class="card-designer-tools-label no-tablet">Source:</p>

                    <label for="browse-logo-image-input" class="span-btn card-designer-btn-icon transition">
                        <span class="icon icon-6"></span>Upload
                        <input id="browse-logo-image-input"
                                class="browse-file-input"
                                type="file"
                                accept="image/*"
                                data-operation-type="upload-file"
                                data-purpose="logo-image" />
                    </label>
                    <span class="control-button span-btn card-designer-btn-icon transition" data-operation-type="remove-element"><span class="icon icon-33"></span>Delete Field</span>

                </div>
                <div class="text-tools-pannel tools-pannel">
                    <p class="card-designer-pannel-title">Text Features</p>
                    <div class="text-toolbox xs-grid-half">
                        <p class="card-designer-tools-label">Font:</p>
                        <select class="control-select" data-operation-type="select-font">
                            <option value="arial">Arial</option>
                            <option value="tahoma">Tahoma</option>
                            <option value="verdana">Verdana</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                            <option value="georgia">Georgia</option>
                            <option value="myriad pro">Myriad Pro</option>
                        </select>
                    </div>
                    <div class="grid-full text-toolbox xs-grid-half">
                        <p class="card-designer-tools-label">Font Size:</p>
                        <select class="control-select tool-font-size" data-operation-type="select-font-size">
                            <option disabled="disabled">-Small-</option>
                            <option value="6">6px</option>
                            <option value="7">7px</option>
                            <option value="8">8px</option>
                            <option value="9">9px</option>
                            <option disabled="disabled">-Medium-</option>
                            <option value="10">10px</option>
                            <option value="12">12px</option>
                            <option value="14">14px</option>
                            <option value="16">16px</option>
                            <option value="18">18px</option>
                            <option value="20">20px</option>
                            <option value="22">22px</option>
                            <option disabled="disabled">-Large-</option>
                            <option value="24">24px</option>
                            <option value="26">26px</option>
                            <option value="28">28px</option>
                            <option value="30">30px</option>
                            <option value="32">32px</option>
                            <option value="42">42px</option>
                            <option value="52">52px</option>
                            <option value="62">62px</option>
                        </select>
                    </div>
                    <div class="grid-half text-toolbox xs-grid-third">
                        <p class="card-designer-tools-label">Font Style:</p>
                        <span class="control-button span-btn icon icon-34 ic-dark font-weight-tool" data-operation-type="font-weight-bold"></span>
                        <span class="control-button span-btn icon icon-35 ic-dark font-style-tool" data-operation-type="font-style-italic"></span>
                    </div>
                    <div class="grid-half text-toolbox xs-grid-third">
                        <p class="card-designer-tools-label">Text Align:</p>
                        <span class="control-button span-btn icon icon-36 ic-dark font-align-left-tool" data-operation-type="font-align-left"></span>
                        <span class="control-button span-btn icon icon-38 ic-dark font-align-center-tool" data-operation-type="font-align-center"></span>
                        <span class="control-button span-btn icon icon-37 ic-dark font-align-right-tool" data-operation-type="font-align-right"></span>
                    </div>
                    <div class="grid-half text-toolbox xs-grid-third">
                        <p class="card-designer-tools-label">Text Color:</p>
                        <span class="span-btn text-color-button-tool"></span>
                        <ul class="color-pallete color-pallete-tiles" data-color-for="text-field">
                            <li style="background-color: rgb(255, 255, 255);"><span></span></li>
                            <li style="background-color: rgb(208, 208, 208);"><span></span></li>
                            <li style="background-color: rgb(119, 119, 119);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 170, 170);"><span></span></li>
                            <li style="background-color: rgb(255, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(255, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(170, 0, 0);"><span></span></li>
                            <li style="background-color: rgb(144, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(255, 108, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 255, 0);"><span></span></li>
                            <li style="background-color: rgb(255, 187, 0);"><span></span></li>
                            <li style="background-color: rgb(240, 230, 140);"><span></span></li>
                            <li style="background-color: rgb(210, 178, 41);"><span></span></li>
                            <li style="background-color: rgb(170, 255, 170);"><span></span></li>
                            <li style="background-color: rgb(0, 255, 0);"><span></span></li>
                            <li style="background-color: rgb(0, 170, 0);"><span></span></li>
                            <li style="background-color: rgb(107, 142, 35);"><span></span></li>
                            <li style="background-color: rgb(0, 119, 0);"><span></span></li>
                            <li style="background-color: rgb(187, 221, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 255, 221);"><span></span></li>
                            <li style="background-color: rgb(170, 170, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 255);"><span></span></li>
                            <li style="background-color: rgb(0, 0, 170);"><span></span></li>
                        </ul>
                    </div>
                    <div class="clear-float"></div>
                    <span class="control-button span-btn card-designer-btn-icon transition xs-grid-whole" data-operation-type="remove-element"><span class="icon icon-33"></span>Delete Field</span>
                </div>
                <div class="logo-tools-pannel tools-pannel">

                </div>
                <div class="disclaimer-text-tool-pannel tools-pannel">
                    <p class="card-designer-pannel-title">Disclaimer text</p>
                    <ul id="disclaimer-color-pallete" class="color-pallete color-pallete-tiles" data-color-for="disclaimer-text-field" data-auto-hide="false">
                        <li style="background-color: rgb(255, 255, 255);"><span></span></li>
                        <li style="background-color: rgb(208, 208, 208);"><span></span></li>
                        <li style="background-color: rgb(119, 119, 119);"><span></span></li>
                        <li style="background-color: rgb(0, 0, 0);"><span></span></li>
                        <li style="background-color: rgb(255, 170, 170);"><span></span></li>
                        <li style="background-color: rgb(255, 0, 255);"><span></span></li>
                        <li style="background-color: rgb(255, 0, 0);"><span></span></li>
                        <li style="background-color: rgb(170, 0, 0);"><span></span></li>
                        <li style="background-color: rgb(144, 0, 255);"><span></span></li>
                        <li style="background-color: rgb(255, 108, 0);"><span></span></li>
                        <li style="background-color: rgb(255, 255, 0);"><span></span></li>
                        <li style="background-color: rgb(255, 187, 0);"><span></span></li>
                        <li style="background-color: rgb(240, 230, 140);"><span></span></li>
                        <li style="background-color: rgb(210, 178, 41);"><span></span></li>
                        <li style="background-color: rgb(170, 255, 170);"><span></span></li>
                        <li style="background-color: rgb(0, 255, 0);"><span></span></li>
                        <li style="background-color: rgb(0, 170, 0);"><span></span></li>
                        <li style="background-color: rgb(107, 142, 35);"><span></span></li>
                        <li style="background-color: rgb(0, 119, 0);"><span></span></li>
                        <li style="background-color: rgb(187, 221, 255);"><span></span></li>
                        <li style="background-color: rgb(0, 255, 221);"><span></span></li>
                        <li style="background-color: rgb(170, 170, 255);"><span></span></li>
                        <li style="background-color: rgb(0, 0, 255);"><span></span></li>
                        <li style="background-color: rgb(0, 0, 170);"><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
<!-- Bottom Toolbar
        <div class="card-zoom-box clear-float">
            <div class="card-zoom-tools go-left">
                <span>Card Zoom</span>
                <span class="span-btn icon icon-18 ic-dark"></span>
                <span class="span-btn icon ic-dark">1:1</span>
                <span class="span-btn icon icon-17 ic-dark"></span>
            </div>
            <span id="delete-background-button" class="span-btn delete-bg-button go-right">Delete Background</span>
        </div>
-->
<!-- Element Position Pannel - remove after develop -->
        <div class="card-element-position-controls clear-float">
            <div class="card-element-tools go-left clear-float">
                <span class="element-title">Element Position:</span>
                <div class="input-position-box">
                    <span>Top</span>
                    <input type="text" value="" data-position="top"/>
                    <span>px</span>
                </div>
                <div class="input-position-box">
                    <span>Left</span>
                    <input type="text" value="" data-position="left"/>
                    <span>px</span>
                </div>
                <div class="input-position-box">
                    <span>Width</span>
                    <input type="text" value="" data-dimension="width"/>
                    <span>px</span>
                </div>
                <div class="input-position-box">
                    <span>Height</span>
                    <input type="text" value="" data-dimension="height"/>
                    <span>px</span>
                </div>
            </div>
        </div>
<!-- Order - Verify / Add to card section -->
        <div class="clear-float">
            <div class="go-left terms-check-box">
                <p class="page-section-title">Verify &amp; Order</p>
                <div class="squared-input">
                    <input id="image-rules-checkbox" type="checkbox" value="None" name="check" />
                    <label for="image-rules-checkbox"></label>
                    <span class="squared-span">My Image complies with the <span class="image-rules-trigger">image rules</span></span>
                </div>
            </div>
            <div class="go-right add-to-cart">
                <span id="add-to-cart-button" class="span-btn page-section-title">
                    <span class="icon icon-5 ic-green imr-10"></span>Add to Cart
                </span>
                <p class="page-section-subtitle">By ordering this item, you agree with
                    <span class="terms-conditions-trigger">terms and conditions</span> and
                    <span class="privacy-policy-trigger">privacy policy</span>.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Popup Screens -->
<!-- Popup window -->


<!-- 1. Regular Popup -->
<div class="popup-filter-custom"></div>
<div class="popup-main-window image-guideline">
    <div class="popup-inner">
        <span class="close-popup"><span class="icon icon-22"></span></span>
        <div class="popup-body">
            <p class="popup-title">Background Image Guidelines</p>
            <ul class="popup-list">
                <li>Picture files can be in JPEG, BMP, PNG or GIF formats</li>
                <li>The maximum file size is 5MB.</li>
                <li>If you choose a low resolution picture, or if you increase the scale of your picture too much, the print quality may be poor.</li>
                <li>The time your picture takes to upload depends on your internet connection and the file size.</li>
            </ul>
        </div>
    </div>
</div>
<div class="popup-main-window image-rules">
    <div class="popup-inner">
        <span class="close-popup"><span class="icon icon-22"></span></span>
        <div class="popup-body">
            <p class="popup-title">Image Rules</p>
            <p class="popup-text">
                The design that you choose to appear on your Card must not contain or comprise any of the following things:
            </p>
            <ul class="popup-list">
                <li>
                    An image of, or the name or nickname of, a celebrity, a film star, a pop star, a sportsperson (e.g. a footballer),  or other famous person, unless you have their written consent which you can present to us upon request
                </li>
                <li>
                    Any image or any text protected by copyright where you are not the owner of the copyright, e.g. a still from a movie or a cartoon, or an image taken from the internet
                </li>
                <li>
                    An image of an individual unless you have the consent of that individual, e.g. a photograph of one of your friends where your friend has not agreed that their picture can appear on your Card
                </li>
                <li>
                    An image of a person under 16 unless you have the consent of a parent or guardian of that person
                </li>
                <li>
                    A trade mark, a logo, a marketing slogan, a company name, a trading name, a brand name, any marketing material or an image of branded goods/services, e.g. the name of a band or a symbol or design used by a band on their t-shirts and album covers unless you are the owner and/or have permission for their use
                </li>
                <li>
                    Offensive material, e.g. images or descriptions of violence or cruelty or antisocial behaviour, profanities (swear words) or obscenities
                </li>
                <li>
                    Images of nudity or semi-nudity or text about sexual behaviour or orientation
                </li>
                <li>
                    An image of or text about drugs, or weapons or any terrorist or illegal groups
                </li>
                <li>
                    Any other image which we decide is unsuitable for use on your Card
                </li>
            </ul>
            <p class="popup-text">
                We will discuss with you our decision to reject a design in an effort to get your new design approved.
            </p>
        </div>
    </div>
</div>

<div class="popup-main-window terms-conditions">
    <div class="popup-inner">
        <span class="close-popup"><span class="icon icon-22"></span></span>
        <div class="popup-body">
            <p class="popup-title">Terms and Conditions</p>
            <div class="popup-block">
                <h2 class="popup-text-title">1. Introduction</h2>
                <p class="popup-text">
                    Your use of the Card Designer Tool is subject to the following rules (the “Rules”). Please read through these Rules carefully. They tell you important information about the Card Designer Tool services.
                </p>
                <p class="popup-text">
                    This service is provided by UK Paper Rolls Ltd and the card designer tool (the “CDT“) is provided by Paneleven Ltd, Paneleven Group d.o.o and Paneleven d.o.o.
                </p>
                <p class="popup-text">
                    The Card Personalisation Service is only available to people living in the United Kingdom and Ireland (known as “Territories”). If you do not live in these countries then do not use the CDT. We accept no responsibility towards to any user who does not live in the Territories.
                </p>
                <p class="popup-text">
                    In these Rules, Paneleven is called “we“ or “us“.
                </p>
                <p class="popup-text">
                    These Rules apply to each request you make for a card (a “Card“) that we produce for you.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">2. Key Features</h2>
                <p class="popup-text">
                    Computer image files, text files and data files that you have uploaded to be printed and/or encoded onto your card(s) is called an “Uploaded Card Image”.
                </p>
                <p class="popup-text">
                    A Card with an Uploaded Card Image is called a “Personalised Card”.
                </p>
                <p class="popup-text">
                    When we refer to “intellectual property” in these Rules, we mean the legal rights that people may have protecting things such as drawings, photographs, brand names, ideas and/or inventions. These rights may be protected, for example by patents, trademarks and/or copyright.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">3. The Contract Between You And Us</h2>
                <p class="popup-text">
                    By proceeding to use the Card Designer Tool, you confirm that you accept these terms and conditions and that a legally binding contract will be formed between you and us (the “Contract”). Before proceeding we recommend that you: 
                </p>
                <p class="popup-text">
                    You agree that you shall not access, store, distribute or transmit any viruses, or any material during the course of your use of the Card Personalisation Services that breaches the Image rules and we reserve the right, without liability or prejudice to our other rights, to disable your access to Card Personalisation Services and/or any material that breaches the provisions of this clause.
                </p>
                <p class="popup-text">
                    You shall not:
                </p>
                <ul class="popup-list">
                    <li>
                        Read the Rules carefully to make sure you are happy with them; and 
                    </li>
                    <li>
                        Print a copy of the Rules to keep.
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">4. Permission and conditions of use</h2>
                <p class="popup-text">
                    Subject to you paying for the Card Personalisation Service, the restrictions set out in this 4 and the other terms and conditions of this agreement, we hereby grant you a non-exclusive, non-transferable right to use the Card Designer Tool solely for the purpose of the Card Personalisation Service.
                </p>
                <ul class="popup-list">
                    <li>
                        Except as may be allowed by any applicable law which is incapable of exclusion by agreement between the parties:
                        <ul class="inner-popup-list">
                            <li>
                                and except to the extent expressly permitted under this agreement, attempt to copy, modify, duplicate, create derivative works from, frame, mirror, republish, download, display, transmit, or distribute all or any portion of the
                            </li>
                            <li>
                                attempt to reverse compile, disassemble, reverse engineer or otherwise reduce to human-perceivable form all or any part of the Card Designer Tool
                            </li>
                        </ul>
                    </li>
                    <li>
                        Access all or any part of the Card Personalisation Service in order to build a product or service which competes with the Card Personalisation Service
                    </li>
                    <li>
                        Use the Card Personalisation Service to provide services to third parties
                    </li>
                    <li>
                        Attempt to obtain, or assist third parties in obtaining, access to the Card Personalisation Service.
                    </li>
                </ul>
                <p class="popup-text">
                    You shall use all reasonable endeavours to prevent any unauthorised access to, or use of, the Card Personalisation Service, in the event of any such unauthorised access or use, promptly notify us.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">5. Image Checking</h2>
                <p class="popup-text">
                    We will check the design to decide whether it is suitable to be printed on your Card. We may reject the design and we will we not print it on your Card if it breaks any of the Image Rules listed below.
                </p>
                <p class="popup-text">
                    Uploaded Image Rules
                </p>
                <p class="popup-text">
                    The design that you choose to appear on your Card must not contain or comprise any of the following things:
                </p>
                <ul class="popup-list">
                    <li>
                        An image of, or the name or nickname of, a celebrity, a film star, a pop star, a sportsperson (e.g. a footballer), or other famous person, unless you have their written consent which you can present to us upon request
                    </li>
                    <li>
                        Any image or any text protected by copyright where you are not the owner of the copyright, e.g. a still from a movie or a cartoon, or an image taken from the internet
                    </li>
                    <li>
                        Image of an individual unless you have the consent of that individual, e.g. a photograph of one of your friends where your friend has not agreed that their picture can appear on your Card
                    </li>
                    <li>
                        An image of a person under 16 unless you have the consent of a parent or guardian of that person
                    </li>
                    <li>
                        A trade mark, a logo, a marketing slogan, a company name, a trading name, a brand name, any marketing material or an image of branded goods/services, e.g. the name of a band or a symbol or design used by a band on their t-shirts and album covers unless you are the owner and/or have permission for their use
                    </li>
                    <li>
                        Offensive material, e.g. images or descriptions of violence or cruelty or antisocial behaviour, profanities (swear words) or obscenities
                    </li>
                    <li>
                        Images of nudity or semi-nudity or text about sexual behaviour or orientation
                    </li>
                    <li>
                        An image of or text about drugs, or weapons or any terrorist or illegal groups
                    </li>
                    <li>
                        Any other image which we decide is unsuitable for use on your Card
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">5.1 Image Responsibilities</h2>
                <p class="popup-text">
                    In relation to each Uploaded Image, you grant to us the right to use, modify, print, store and reproduce the Uploaded Image for the purpose of providing a Personalised Card to you. We may pass these rights on to companies that help us in relation to the CDT service.
                </p>
                <p class="popup-text">
                    In relation to each Uploaded Image you will ensure that:
                </p>
                <ul class="popup-list">
                    <li>
                        You are the owner of all copyrights in the Uploaded Image. This means that you must have created the image yourself and or have the right to use it if former does not apply
                    </li>
                    <li>
                        You have obtained the express consent of any person whose image appears in the Uploaded Image
                    </li>
                    <li>
                        You have obtained the express consent of a parent of, or a guardian of, any person under 16 who appears in the Uploaded Image
                    </li>
                    <li>
                        The Uploaded Image does not contain any computer viruses
                    </li>
                    <li>
                        The Uploaded Image complies with the Uploaded Image Rules set out above
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">5.2 Card Delivery</h2>
                <p class="popup-text">
                    Normally we will print the Personalised Card and send it to you at the most recent postal address we have for you.
                </p>
                <p class="popup-text">
                    If you are opening a new account with us then you will not be able to complete your order for a Personalised Card and we will not print or send a Personalised Card to you unless and until your new account is fully open, you have entered into a legally binding agreement with us for that new account.
                </p>
                <p class="popup-text">
                    If the Personalised Card is for an existing account with us then we will not print or send the Personalised Card to you unless and until we have carried out our then standard customer authentication procedures. (e.g. until we have checked that the personal and account details you have given us are correct and that you have not supplied us with any false information). These procedures are designed for your protection.
                </p>
                <p class="popup-text">
                    We will aim to get the Personalised Card to you within 5 working days from the date on which the fee for the Personalised Card(s) is taken and/or the date from which you have confirmed all the previews, whichever occurs later.
                </p>
                <p class="popup-text">
                    If you have not received your Personalised Card within that period then contact us on the customer service contact number set out in the documentation that relates to your account.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">6. Termination</h2>
                <p class="popup-text">
                    We may end the Contract between us by issuing you with a replacement Card with a design chosen by us if either:
                </p>
                <ul class="popup-list">
                    <li>
                        You have broken these Rules
                    </li>
                    <li>
                        we think that a Personalised Card that we have issued to you does not comply with the Uploaded Image Rules set out in Section 4 above.
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">7. Liability Issues</h2>
                <p class="popup-text">
                    You will:
                </p>
                <ul class="popup-list">
                    <li>
                        Pay us the amount of any loss suffered or incurred by us, or one of our group companies, or one of our suppliers (in each case) to the extent arising from our use or possession or modification of any Uploaded Image in order to provide the CDT service. You will also pay us any costs and expenses we may have in relation to the loss
                    </li>
                    <li>
                        Pay us the amount of any loss and/or expenses suffered or incurred by us, or one of our group companies, or one of our suppliers (in each case) to the extent arising from any breach of these Rules by you.
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">8. General</h2>
                <p class="popup-text">
                    We shall not be liable for any poor quality image reproduction or positioning whether in respect of the Personalised Card provided or mock-ups provided online. While we shall try to provide Personalised Cards to you within the timescales that we tell you from time to time, no warranty is provided by us in this regard and we will not pay you any compensation in relation to any delayed delivery to you.
                </p>
                <p class="popup-text">
                    We may change the terms of the Contract by reasonable written notice or email to you. As described in the Section 8 (“Termination) of these Rules, you have the right to end the Contract at any time, so if we change the Contract in a way that you do not like then you can end it.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">9. Queries and Complaints</h2>
                <p class="popup-text">
                    If you have a query or complaint in relation to the CDT service then you can contact us using the contact details set out in this web-site, or alternatively the customer service contact number set out in the documentation that relates to your account.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="popup-main-window privacy-policy">
    <div class="popup-inner">
        <span class="close-popup"><span class="icon icon-22"></span></span>
        <div class="popup-body">
            <p class="popup-title">UKPR Internet Privacy and Cookies Policy</p>
            <p class="popup-text">
                At UKPR we are committed to safeguarding and preserving the privacy of our visitors. This Privacy Policy document (the "Policy")
            </p>
            <p class="popup-text">
                This Policy explains what happens to any personal data that you provide to us, or that we collect from you whilst you visit our site and how we use cookies on this website.
            </p>
            <p class="popup-text">
                We do update this Policy from time to time so please do review this Policy regularly.
            </p>
            <div class="popup-block">
                <h2 class="popup-text-title">Information That We Collect</h2>
                <p class="popup-text">
                    In running and maintaining our website we may collect and process the following data about you:
                </p>
                <ul class="popup-list">
                    <li>
                        Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.
                    </li>
                    <li>
                        Information provided voluntarily by you. For example, when you register for information or make a purchase.
                    </li>
                    <li>
                        Information that you provide when you communicate with us by any means.
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Use of Cookies</h2>
                <p class="popup-text">
                    Cookies provide information regarding the computer used by a visitor. We may use cookies where appropriate to gather information about your computer in order to assist us in improving our website.
                </p>
                <p class="popup-text">
                    We may gather information about your general internet use by using the cookie. Where used, these cookies are downloaded to your computer and stored on the computer’s hard drive. Such information will not identify you personally; it is statistical data which does not identify any personal details whatsoever.
                </p>
                <p class="popup-text">
                    Our advertisers may also use cookies, over which we have no control. Such cookies (if used) would be downloaded once you click on advertisements on our website.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Use of Your Information</h2>
                <p class="popup-text">
                    We use the information that we collect from you to provide our services to you. In addition to this we may use the information for one or more of the following purposes:
                </p>
                <ul class="popup-list">
                    <li>
                        To provide information to you that you request from us relating to our products or services.
                    </li>
                    <li>
                        To provide information to you relating to other products that may be of interest to you. Such additional information will only be provided where you have consented to receive such information.
                    </li>
                    <li>
                        To inform you of any changes to our website, services or goods and products.
                    </li>
                </ul>
                <p class="popup-text">
                    If you have previously purchased goods or services from us we may provide to you details of similar goods or services, or other goods and services, that you may be interested in.
                </p>
                <p class="popup-text"><srtong>
                    We never give your details to third parties to use your data to enable them to provide you with information regarding unrelated goods or services.
                </p></srtong>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Storing Your Personal Data</h2>
                <p class="popup-text">
                    In operating our website it may become necessary to transfer data that we collect from you to locations outside of the European Union for processing and storing. By providing your personal data to us, you agree to this transfer, storing and processing. We do our utmost to ensure that all reasonable steps are taken to make sure that your data is stored securely.
                </p>
                <p class="popup-text">
                    Unfortunately the sending of information via the internet is not totally secure and on occasion such information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, sending such information is entirely at your own risk.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Disclosing Your Information</h2>
                <p class="popup-text">
                    We will not disclose your personal information to any other party other than in accordance with this Privacy Policy and in the circumstances detailed below:
                </p>
                <ul class="popup-list">
                    <li>
                        In the event that we sell any or all of our business to the buyer.
                    </li>
                    <li>
                        Where we are legally required by law to disclose your personal information.
                    </li>
                    <li>
                        To further fraud protection and reduce the risk of fraud.
                    </li>
                </ul>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Third Party Links</h2>
                <p class="popup-text">
                    On occasion we include links to third parties on this website. Where we provide a link it does not mean that we endorse or approve that site’s policy towards visitor privacy. You should review their privacy policy before sending them any personal data.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Access to Information</h2>
                <p class="popup-text">
                    In accordance with the Data Protection Act 1998 you have the right to access any information that we hold relating to you. Please note that we reserve the right to charge a fee of £10 to cover costs incurred by us in providing you with the information.
                </p>
            </div>
            <div class="popup-block">
                <h2 class="popup-text-title">Contacting Us</h2>
                <p class="popup-text">
                    Please do not hesitate to contact us regarding any matter relating to this Privacy and Cookies Policy via email at fanfare@ukpaperrolls.com.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- 2. Tools Popup -->
<div id="facebook-import-photo-popup"
     data-template="list-popup-template"
     data-content-template="faceobok-import-popup-content-template"
     class="tools-popup animated display-none"></div>

<div id="flickr-username-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none"></div>

<div id="flickr-user-photos-popup"
     data-template="list-popup-template"
     data-content-template="flickr-import-popup-content-template"
     class="tools-popup animated display-none"></div>

<div id="new-card-design-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none"></div>

<div id="save-as-card-design-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none"></div>

<div id="image-effects-popup"
     data-template="list-popup-template"
     data-content-template="background-image-effects-template"
     class="tools-popup animated display-none"></div>

<div id="gallery-photos-popup"
    data-template="list-popup-template"
    data-content-template="gallery-popup-content-template"
    class="tools-popup animated display-none"></div>

<div id="fabric-element-close-buttons-container"></div>

{{ '<script id="facebook-album-item-template" type="text/x-handlebars-template">
   <div class="facebook-album-item album-photo-item" data-id="{{albumId}}">
        <img src="{{imageUrl}}" id="facebook-album-{{albumId}}" class="fb-img-style import-image-item" />
        <label>{{name}}</label>
    </div>
</script>' | raw }}

{{ '<script id="facebook-photo-item-template" type="text/x-handlebars-template">
    <div class="facebook-photo-item album-photo-item" data-id="{{photoId}}">
        <img src="{{imageUrl}}" id="facebook-photo-{{photoId}}" class="facebook-image-item import-image-item" />
        <label>{{name}}</label>
    </div>
</script>' | raw }}

{{ '<script id="flickr-photo-item-template" type="text/x-handlebars-template">
    <div class="flickr-photo-item album-photo-item" data-id="{{photoId}}" data-image-url="{{originalImage}}">
        <img src="{{thumbImage}}" id="photo-{{photoId}}" image-url="{{originalImage}}" class="flickr-image-item import-image-item" />
        <label>{{name}}</label>
    </div>
</script>' | raw }}

{{ '<script id="gallery-photo-item-template" type="text/x-handlebars-template">
    <div class="gallery-photo-item album-photo-item" data-id="{{photoId}}" data-image-url="{{originalImage}}">
        <img src="{{thumbImage}}" id="photo-{{photoId}}" image-url="{{originalImage}}" class="gallery-image-item import-image-item" />
        <label>{{name}}</label>
    </div>
</script>' | raw }}

{{ '<script id="front-side-logo-template" type="text/x-handlebars-template">
    <p class="card-designer-pannel-title">Logo Field</p>
    <span class="span-btn card-designer-btn" data-choose-logo="{{name}}-light"><img src="{{ logoLight }}" /></span>
    <span class="span-btn card-designer-btn" data-choose-logo="{{name}}-dark"><img src="{{ logoDark }}" /></span>
    <span class="span-btn card-designer-btn-icon transition" data-operation-type="remove-logo"><span class="icon icon-33"></span>Remove Logo</span>
</script>' | raw }}

{{ '<script id="album-photo-item-template" type="text/x-handlebars-template">
    <div class="flickr-photo-item album-photo-item" data-id="{{photoId}}" data-image-url="{{originalImage}}">
        <img src="{{ originalImage }}" class="flickr-image-item import-image-item" />
        <label>{{name}}</label>
    </div>
</script>' | raw }}

{% include 'ElavonCreatorBundle:Popups:listPopupTemplate.html.twig' %}
{% include 'ElavonCreatorBundle:Popups:facebookPopupContentTemplate.html.twig' %}
{% include 'ElavonCreatorBundle:Popups:flickrPopupTemplate.html.twig' %}
{% include 'ElavonCreatorBundle:Popups:backgroundImageEffectsTemplate.html.twig' %}
{% include 'ElavonCreatorBundle:Popups:galleryPopupContentTemplate.html.twig' %}


<script>
$(document).ready(function(){
//Popups Handler
    var imageGuideTrigger = $('.image-guidelines-trigger');
    var imageRulesTrigger = $('.image-rules-trigger');
    var imageTermsTrigger = $('.terms-conditions-trigger');
    var imagePrivacyTrigger = $('.privacy-policy-trigger');
    var filterForCustomPopup = $('.popup-filter-custom');
    var closePopupButton = $('.close-popup');

    var guideWindow = $('.image-guideline');
    var rulesWindow = $('.image-rules');
    var termsWindow = $('.terms-conditions');
    var privacyWindow = $('.privacy-policy');

    var openPopup = function(popupWindow){
        filterForCustomPopup.addClass('visiblePopup');
        popupWindow.addClass('visiblePopup');
        $('body').css({
            'height': '100%',
            'overflow-y': 'hidden'
        });
    };

    closePopupButton.on('click', function(){
        var parentWindow = $(this).closest('.popup-main-window');
        parentWindow.removeClass('visiblePopup')
        filterForCustomPopup.removeClass('visiblePopup');
        $('body').css({
            'height': 'auto',
            'overflow-y': 'scroll'
        });
    });

    imageGuideTrigger.on('click',function(){openPopup(guideWindow);});
    imageRulesTrigger.on('click',function(){openPopup(rulesWindow);});
    imageTermsTrigger.on('click',function(){openPopup(termsWindow);});
    imagePrivacyTrigger.on('click',function(){openPopup(privacyWindow);});


//
    var toolsNavTrig = $('.responsive-controles');
    var allPannels = $('.responsive-controles li');
    var closePannels = $('.close-pannels');

    //Nav Elements
    var backgroundTrig = $('.bgTrig');
    var imageTrig = $('.imageTrig');
    var textTrig = $('.textTrig');
    var logoTrig = $('.logoTrig');
    
    //Pannels with tools
    var designerTools = $('.card-designer-tools-options'); // Right tools panel
    var backgroundTools = $('.card-designer-background-tools'); //Background Color scale options pannel

    var openPannelFunction = function(pannelName,el){
        
        allPannels.removeClass('active');
        $(el).addClass('active');
        
        switch(pannelName){
            case 'bg':
                backgroundTools.addClass('opened');
                designerTools.addClass('opened moved');
            break;

            case 'im':
                backgroundTools.removeClass('opened moved');
                designerTools.removeClass('moved');
                designerTools.addClass('opened');
            break;

            case 'tx':
                backgroundTools.removeClass('opened moved');
                designerTools.removeClass('moved');
                designerTools.addClass('opened');
            break;
            case 'logo':
                backgroundTools.removeClass('opened moved');
                designerTools.removeClass('moved');
                designerTools.addClass('opened');
            break;
            case 'close':
                backgroundTools.removeClass('opened');
                designerTools.removeClass('opened moved');
            break;
            default:
                backgroundTools.removeClass('opened');
                designerTools.removeClass('opened moved');
        }

    };

    backgroundTrig.on('click', function(){
        openPannelFunction('bg', this);
    });
    textTrig.on('click', function(){
        openPannelFunction('im', this);
    });
    imageTrig.on('click', function(){
        openPannelFunction('tx', this);
    });
    logoTrig.on('click', function(){
        openPannelFunction('logo', this);
    });
    closePannels.on('click', function(){
        openPannelFunction('close', this);
    });

    //XS opener
    var xsOpener = $('.xs-panel-opener');
    xsOpener.on('click', function(){
        $('.card-designer-tools-options.moved').toggleClass('opened-panel');
    });



});
</script>
{% endblock %}
