{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}Home-module{% endblock %}

{% block moduleHeader %}
    <div class="page-top">
        <div class="page-top-green-line"></div>
        <div class="page-top-message">
            <p class="home-page-top-message-title">Please choose Card type you wish to create</p>
            <p class="home-page-top-message-text">Your active Design Studio package is: <span>Loyalty,</span> <span>Promo</span> and <span>Gift</span></p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="fanfare">
    <div class="wrapper clear-float">
        <div class="home-cards-wrapper clear-float">
            <div class="grid-third card-type-block">
                <h3 class="card-type-title"> LOYALTY CARD</h3>
                <img  src="{{ asset('images/homepage/loyaltycard-disabled.png') }}" />
                <span class="span-btn inactive" data-module="ElavonCardDesigner" data-module-data="loyalty" data-module-reinitialize="true">
                    <img class="choose-program-img" src="{{ asset('images/homepage/loyaltycard.png') }}" />
                </span>
            </div>
            
            <div class="grid-third card-type-block">
                <h3 class="card-type-title"> PROMO CARD</h3>
                <img src="{{ asset('images/homepage/promocard-disabled.png') }}" />
                <span class="span-btn inactive" data-module="ElavonCardDesigner" data-module-data="promo" data-module-reinitialize="true">
                    <img class="choose-program-img" src="{{ asset('images/homepage/promocard.png') }}" />
                </span>
            </div>
            
            <div class="grid-third card-type-block">
                <h3 class="card-type-title"> GIFT CARD</h3>
                <img src="{{ asset('images/homepage/giftcard-disabled.png') }}" />
                <span class="span-btn inactive" data-module="ElavonCardDesigner" data-module-data="gift" data-module-reinitialize="true">
                    <img class="choose-program-img" src="{{ asset('images/homepage/giftcard.png') }}" />
                </span>
                
            </div>
        </div>
        
        <div class="info-home-wrapper">
            <div class="gr-line"></div>
            
            <div class="info-wrap clear-float">
                <div class="info-box grid-third clear-float loyalty-info">
                    <img src="{{ asset('images/homepage/loyalty-icongraph.png') }}">
                    <p>
                        Create Loyalty Card for your company to be closer with your customers and to beat your competition.
                    </p>
                </div>
                <div class="info-box grid-third clear-float promo-info">
                    <img src="{{ asset('images/homepage/promo-icongraph.png') }}">
                    <p>
                        Create Promo Card to promote your new product or service to your customers and give them special discount.
                    </p>
                </div>
                <div class="info-box grid-third clear-float">
                    <img src="{{ asset('images/homepage/gift-icongraph.png') }}">
                    <p>
                        Create Gift Card and load certain value, or just put some credit for your service.
                    </p>
                </div>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}
