{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}Creator-module{% endblock %}

{% block title %}Creator{% endblock %}

{% block moduleHeader %}
<div class="page-top recent-page-top">
    <div class="page-top-navigation">
        <div class="page-top-navigation-inner clear-float">
            <ul id="design-studio-main-tab" class="design-studio-navigation go-left clear-float">
                <li class="ro-trig" data-role="tab-button" data-tab-content="#recent-orders-tab-content">
                    <span class="span-btn">Recent Orders</span>
                </li>
                <li class="md-trig" data-role="tab-button" data-tab-content="#my-designs-tab-content">
                    <span class="span-btn">My Designs</span>
                </li>
                <li class="cs-trig" data-role="tab-button" data-tab-content="#shipping-addresses-tab-content">
                    <span class="span-btn">Card Shipping Addresses</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-top-green-line"></div>
</div>
{% endblock %}

{% block content %}
<div id="main-tab-content-holder" class="wrapper my-design-studio-wrap">
<!-- Recent orders -->
    <div id="recent-orders-tab-content" class="recent-orders-tab">

        <div class="page-top-message-ro page-top-message clear-float">
            <div class="page-top-message-inner-wrapper clear-float">
                <div class="go-left">
                    <p class="recent-orders-page-top-message-title">Recent Orders</p>
                </div>
                <div class="go-right">
                    <p class="recent-orders-page-top-message-title">Pending Orders (8)</p>
                </div>
            </div>
        </div>

        <div class="recent-order-table">
        <!-- Prefix class name rot (Recent Orders Table) -->
            <ul class="rot-header clear-float">
                <li>Order ID#</li>
                <li>Ship to</li>
                <li>Date</li>
                <li>Order Status</li>
            </ul>
            <ul id="recent-orders-collapse" class="collapse-wrap" data-role="collapse"></ul>
        </div>
    </div>
    <!-- /# Recent orders -->

    <!-- My Designs -->
    <div id="my-designs-tab-content" class="my-designs-tab">
        <ul id="card-designs-list" class="my-designs-list clear-float">
            
        </ul>
    </div>
    <!-- /# My Designs -->

    <!-- Card Shipping Addresses -->
    <div id="shipping-addresses-tab-content" class="card-shipping-addresses-tab clear-float">
        <div class="card-shipping-addresses-tab-list-wrap grid-half">
            <p class="card-shipping-addresses-section-title border-title">Existing Shipping Addresses</p>
            <ul id="existing-shipping-addresses-list" class="collapse-wrap" data-role="collapse">
                
            </ul>
            <!--
            <span class="span-btn green-btn transition panel-on-btn" data-role="create">
                <span class="span-btn-txt">Add New Address</span>
            </span>
            -->
            <script>
                $(document).ready(function(){
                    
                    //Edit/Cancel button Switch
                    var editExistingAddressTrigger = $('.edit-shipping-address-button');
                    var sectionTitlePlaceholder = $('.add-edit-title');
                    var cancelEditButton = $('.cancel-edit');
                    var saveEditButton = $('.save-edit');
                    var addNewAddress = $('.add-new-button');
                    var inputField = $('.card-shipping-addresses-form input');

                    saveEditButton.css({'display': 'none'});
                    cancelEditButton.css({'display': 'none'});

                    editExistingAddressTrigger.on('click', function(){
                        sectionTitlePlaceholder.text('Edit Shipping Address');
                        addNewAddress.css({'display': 'none'});
                        saveEditButton.css({'display': 'inline-block'});
                        cancelEditButton.css({'display': 'inline-block'});
                        inputField.val('Edit this value');
                        console.log('Shipping');
                    });

                    cancelEditButton.on('click', function(){
                        sectionTitlePlaceholder.text('Add New Shipping Address');
                        addNewAddress.css({'display': 'inline-block'});
                        saveEditButton.css({'display': 'none'});
                        cancelEditButton.css({'display': 'none'});
                        inputField.val('');
                    });

                    /*
                    //Responsive panel
                    var openPannel = $('.panel-on-btn');
                    var closePannel = $('.panel-off-btn');
                    var pannel = $('.card-shipping-addresses-tab, .my-design-studio-wrap');
                    
                    openPannel.on('click', function(){
                        pannel.addClass('opened-area');
                    });
                    
                    closePannel.on('click', function(){
                        pannel.removeClass('opened-area');
                    });
*/
                });
            </script>
        </div>
        <div class="add-new-shipping-address-area grid-half">
            <p class="card-shipping-addresses-section-title add-edit-title border-title">Add New Shipping Address</p>
            <form id="shipping-address-form" acton="#">
                <div class="card-shipping-addresses-form clear-float">

                    {{ forms.textInputSet('firstName', 'First Name*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('lastName', 'Last Name*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('email', 'Email*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('address', 'Address*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('city', 'City*', '', 'ShippingAddress') }}
                    {{ forms.textInputSet('postcode', 'Postcode*', '', 'ShippingAddress') }}
                    {{ forms.selectInputSet('country', 'Country*', 'Select Country', 'ShippingAddress') }}
                    {{ forms.textInputSet('phone', 'Phone', '', 'ShippingAddress') }}

                </div>

                <span id="create-shipping-address-button" class="submit-button span-btn green-btn transition" data-role="create">
                    <span class="span-btn-txt">Add New Shipping Address</span>
                </span>
                <!--
                <span class="span-btn green-btn transition panel-off panel-off-btn">
                    <span class="span-btn-txt">Cancel</span>
                </span>
                -->
                <span id="update-shipping-address-button" class="submit-button span-btn green-btn save-edit transition" data-role="edit">
                    <span class="span-btn-txt">Save</span>
                </span>
                <span id="cancel-update-shipping-address-button" class="reset-button span-btn green-btn cancel-edit transition">
                    <span class="span-btn-txt">Cancel</span>
                </span>
            </form>
        </div>
    </div>
<!-- /# Card Shipping Addresses -->
</div>

<div id="delete-card-design-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none confirm-popup"></div>

<div id="delete-shipping-address-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none confirm-popup"></div>

{{ '<script id="preview-design-item-template" type="text/x-handlebars-template">
    <li class="card-design-item" data-id="{{ id }}">

        {{#if frontImageThumbUrl}}
            <img class="my-designs-card" src="{{ frontImageThumbUrl }}?t={{imageCacheHash}}" />
        {{else}}
            <img class="my-designs-card" src="/images/no-design-image.png" />
        {{/if}}
        
        <div class="my-designs-options clear-float">
            <span class="icon icon-28 ifs-16 go-left edit-card-design-btn" data-operation="edit-card-design" data-id="{{ id }}"></span>
            <span>{{ name }}</span>
            <span class="icon icon-22 ifs-16 go-right delete-card-design-btn" data-operation="delete-card-design" data-id="{{ id }}"></span>
        </div>
    </li>
</script>' | raw }}

{{ '<script id="shipping-address-item-template" type="text/x-handlebars-template">
<li class="collapse-item" data-id="{{id}}">
    <div class="collapse-item-header">
        <div class="card-shipping-addresses-info-header">
            <span class="icon icon-21 ifs-16 imr-10 icon-indicator"></span>{{firstName}} {{lastName}}
        </div>
    </div>
    <div class="collapse-item-body">
        <ul class="card-shipping-addresses-info transition">
            <li>{{address}}</li>
            <li>{{city}}, {{country.name}}, {{postcode}}</li>
            <li>Email: {{email}} </li>
            <li>Phone: {{phone}}</li>
            <li>
                <span class="span-btn green-btn edit-shipping-address-button transition" data-id="{{id}}">
                    <span class="span-btn-txt">Edit</span>
                </span>
                <span class="span-btn green-btn delete-shipping-address-button transition" data-id="{{id}}">
                    <span class="span-btn-txt">Delete</span>
                </span>
            </li>
        </ul>
    </div>
</li>
</script>' | raw }}

{{ '<script id="recent-orders-item-template" type="text/x-handlebars-template">
        <li class="collapse-item">
            <div class="collapse-item-header">
                <div class="rot-item-content">
                    <div class="rot-item-row clear-float">
                        <div><span class="icon icon-21 ifs-16 imr-10 icon-indicator"></span>{{id}}</div>
                        <div>{{user.firstName}} {{user.lastName}}</div>
                        <div>23.10.2015</div>
                        <div>Pending</div>
                    </div>
                </div>
            </div>
            <div class="collapse-item-body">
                <div class="rot-item-accordion-content">
                    <ul class="rot-item-accordion-header clear-float">
                        <li>Item ID#</li>
                        <li>Design Preview</li>
                        <li>Design Name</li>
                        <li>Card Type</li>
                        <li>Status</li>
                        <li>Action(s)</li>
                    </ul>

                <!-- Item -->
                {{#each cardDesignOrderItems}}
                    <div class="accordion-item-wrap">
                        <div class="accordion-item-row">
                            <div>{{id}}</div>
                            <div>
                                <div class="rot-card-preview">
                                    <img src="{{cardDesign.frontImageThumbUrl}}" />
                                    <img class="preview-hidden transition" src="{{cardDesign.frontImageThumbUrl}}" />
                                </div>
                            </div>
                            <div>{{cardDesign.name}}</div>
                            <div>{{cardDesign.type}}</div>
                            <div>{{status}}</div>
                            <div>N/A</div>
                        </div>
                    </div>
                {{/each}}
                <!-- /# Item -->

                </div>
            </div>
        </li>
</script>' | raw }}

{% endblock %}
