{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}Shopping-Cart-module{% endblock %}

{% block title %}Shopping Cart{% endblock %}

{% block moduleHeader %}
<div class="page-top-empty"></div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div>
		<p class="page-section-pre-title">Shopping Cart</p>
        <p class="page-section-title">Order Summary</p>
    </div>
<!-- Prefix class name sci (Shopping Cart Item) -->
    <div class="shopping-cart-table-wrapper content-box">
    	<p class="shopping-cart-table-title border-title">Shopping Cart Items</p>
    	<div class="shopping-cart-table">
    		<ul class="shopping-cart-table-header clear-float">
    			<li>Design Name</li>
    			<li>Design Preview</li>
    			<li>Card Type</li>
    			<li>Price per Card</li>
    			<li>Delete Item</li>
    		</ul>

            <ul id="shopping-cart-items-list"></ul>

    	</div>

    </div>

    <div class="shopping-cart-price-box content-box clear-float">
    	<p class="page-section-pre-title border-title">Cart Totals</p>
        <ul id="shopping-cart-total-list" class="sci-price-table go-right">

    	</ul>
    </div>
    <div class="clear-float sci-proceed-options-box">
		<span class="go-left span-btn gray-btn transition" data-module="ElavonCardDesigner">
            <span class="icon icon-4 ifs-26 imr-10"></span> <span class="span-btn-txt">Continue Shopping</span>
        </span>
        <span class="go-right span-btn gray-btn transition" data-module="Checkout">
            <span class="span-btn-txt">Proceed to checkout</span> <span class="icon icon-20 ifs-26 iml-10"></span>
        </span>
	</div>
</div>



<div id="remove-shopping-cart-item-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none confirm-popup"></div>


{{ '<script id="shopping-cart-item-total" type="text/x-handlebars-template">

    <li><span>Cart Subtotal:</span><span>{{symbol}}{{subtotal}}</span></li>
    <li><span>Shipping Charge:</span><span>{{symbol}}{{charge}}</span></li>
    <li><span>Tax Total:</span><span>{{symbol}}{{tax}}</span></li>
    <li class="sci-price-total"><span>Order Total:</span><span>{{symbol}}{{total}}</span></li>

</script>' | raw }}

{{ '<script id="shopping-cart-item-template" type="text/x-handlebars-template">

<li class="shopping-cart-item" data-id="{{id}}">
    <div class="sci-info-row clear-float">
        <div>{{cardDesign.name}}</div>
        <div>
            <div class="sci-card-preview">
                <img src="{{ cardDesign.frontImageThumbUrl }}" />
                <img class="preview-hidden transition" src="{{ cardDesign.frontImageThumbUrl }}" />
            </div>
        </div>
        <div>{{cardDesign.type}} Card</div>
        <div><span class="shopping-cart-currency-symbol">{{shoppingCart.user.currency.symbol}}</span><span class="price-per-card">{{pricePerCard}}</span></div>
        <div><span class="icon icon-22 ifs-26 remove-shopping-cart-item-button"></span></div>
    </div>
    <div class="sci-value-row clear-float">
        <div></div>
        <div></div>
        <div class="sci-input">
            <label>Quantity</label>
            <input class="shopping-cart-item-quantity-input" type="text" value="{{quantity}}"/>
        </div>
        <div></div>
        <div></div>
    </div>
</li>

</script>' | raw }}



{{ '<script id="shopping-cart-denomination-item-template" type="text/x-handlebars-template">

<li class="shopping-cart-item" data-id="{{id}}">

    <div class="sci-info-row clear-float">
        <div>{{cardDesignName}}</div>
        <div>
            <div class="sci-card-preview">
                <img src="{{ cardDesign.frontImageThumbUrl }}" />
                <img class="preview-hidden transition" src="{{ cardDesign.frontImageThumbUrl }}" />
            </div>
        </div>
        <div>{{cardDesign.type}}</div>
        <div><span class="shopping-cart-currency-symbol">{{shoppingCart.user.currency.symbol}}</span> <span class="price-per-card">{{pricePerCard}}</span></div>
        <div><span class="icon icon-22 ifs-26 remove-shopping-cart-item-button"></span></div>
    </div>

    <ul class="card-denomination-list">
        
        {{#each cardDenomination}}
            <li class="sci-value-row clear-float">
                <div class="empty-table-col"></div>
                <div class="empty-table-col"></div>
                <div class="sci-input">
                    <label>Quantity</label>
                    <input class="shopping-cart-item-quantity-input" type="text" value="{{quantity}}"/>
                </div>
                <div class="sci-input"><label>Card Denomination</label><input type="text" value="{{denomination}}"/></div>
                <div class="button-table-col"><span class="icon icon-21 ifs-26"></span> / <span class="icon icon-32 ifs-26"></span></div>
            </li>
        {{/each}}

    </ul>
</li>

</script>' | raw }}

{% endblock %}