{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}ThankYou-module{% endblock %}

{% block title %}ThankYou{% endblock %}

{% block moduleHeader %}
<div class="page-top-empty"></div>
{% endblock %}

{% block content %}
<div class="wrapper thank-you-page">
    <span class="icon icon-27 ifs-66 ic-green thank-you-icon"></span>
    <p class="thanks-message">
        Thank you for your purchase. Your order has been placed successfully
    </p>
    <p class="thanks-info">
        You can track the status of your order from <span class="link" data-module="MyDesignStudio">My Recent Orders</span> page.
    </p>
    <span class="span-btn gray-btn transition" data-module="Home">
        <span class="span-btn-txt">Back to Home</span>
    </span>
</div>


{% endblock %}
