.fanfarecation{
	margin-bottom: 10px;
}
.noty-body{
	position: relative;
	width: 310px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}
.noty-header{
	width: 100%;
	height: 20px;
	background-color: #A6C244;
}
.activity-item{
	padding: 20px 20px 20px 70px;
	border-bottom: 3px solid #A6C244;
}
.noty-body span.icon{
	position: absolute;
	left: 20px;
    top: 34px;
	font-size: 30px;
}
/**************************************************************
							Box types
**************************************************************/
/*Error Noty - red*/
.error-noty-box .noty-header{
	background-color: #FF3C3C;
}
.error-noty-box .activity-item{
	padding: 20px 20px 20px 70px;
	border-bottom: 3px solid #FF3C3C;
}
.error-noty-box span.icon{
	color: #FF3C3C;
}
/*Warning Noty - yellow*/
.warning-noty-box .noty-header{
	background-color: #FFD92F;
}
.warning-noty-box .activity-item{
	padding: 20px 20px 20px 70px;
	border-bottom: 3px solid #FFD92F;
}
.warning-noty-box span.icon{
	color: #FFD92F;
}
/*Success Noty - green*/
.success-noty-box .noty-header{
	background-color: #A6C143;
}
.success-noty-box .activity-item{
	padding: 20px 20px 20px 70px;
	border-bottom: 3px solid #A6C143;
}
.success-noty-box span.icon{
	color: #A6C143;
}
/*Info Noty - blue*/
.info-noty-box .noty-header{
	background-color: #4792BC;
}
.info-noty-box .activity-item{
	padding: 20px 20px 20px 70px;
	border-bottom: 3px solid #4792BC;
}
.info-noty-box span.icon{
	color: #4792BC;
}
/*Loading Noty blue + loader bar*/
.loading-noty-box .noty-header{
	background-color: #4792BC;
}
.loading-noty-box .activity-item{
	padding: 20px 20px 30px 70px;
	border-bottom: none;
}
.loading-noty-box span.icon{
	color: #4792BC;
}
/*Loader*/
.loading{
  position: absolute;
  top: auto;
  bottom: 0;
  height: 10px;
  left: 0;
  width: 100%;
}
.progress{
  width: 100%;
  height: 15px;
  border-radius: 0px;
  padding: 0px;
  margin: 0;
  border: none;
}
.progress_bar{
  width: 0;
  height: 15px;
  border-radius: 0px;
  border: none;
  background: rgb(38, 133, 197);
  padding: 0;
  margin: 0;
}
#prog_status{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  text-shadow: 0 -1px 0 #191A1E;
}
.stripes span {
	display: inline-block;
	height: 15px;
	width: 100%;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    -moz-animation: animate-stripes 3s linear infinite;
    -webkit-animation: animate-stripes 3s linear infinite;
    animation: animate-stripes 3s linear infinite;             
}

@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}