<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ 'Bankvault'|trans }}</title>

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6746754/729288/css/fonts.css" />
        {% stylesheets
            '@SinglePageClientBundle/Resources/public/css/reset.css'
            '@SinglePageClientBundle/Resources/public/css/jq-grid-1.0.css'
            '@ElavonCreatorBundle/Resources/public/css/font-icons.css'

            '@ElavonCreatorBundle/Resources/public/css/animate.css'
            '@SinglePageClientBundle/Resources/public/css/noty.css'
            '@ElavonCreatorBundle/Resources/public/css/ion.rangeSlider.css'
            '@ElavonCreatorBundle/Resources/public/css/selectBoxIt.css'
            '@SinglePageClientBundle/Resources/public/css/jquery.datepick.css'

            '@ElavonAdminPanelBundle/Resources/public/css/globalClasses.css'
            '@ElavonAdminPanelBundle/Resources/public/css/globalPageStyle.css'
            '@ElavonAdminPanelBundle/Resources/public/css/elements.css'
            '@ElavonCreatorBundle/Resources/public/css/allPopups.css'
            '@ElavonAdminPanelBundle/Resources/public/css/style.css'
            '@ElavonAdminPanelBundle/Resources/public/css/responsive.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}


        <!-- IMPORT MODULES CSS -->
        {% stylesheets
            
            '@ElavonAdminPanelBundle/Resources/public/css/modules/login.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

        <!-- IMPORT COMMON AND RESPONSIVE CSS -->
        {% stylesheets
            '@ElavonAdminPanelBundle/Resources/public/css/modulesCommon.css'
            '@ElavonAdminPanelBundle/Resources/public/css/responsive.css'
        %}

            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

    </head>

    <body>

        <div id="popups-container" class="popup-background-filter display-none"></div>

        <div class="page-container">
            
            <!-- PAGE LOADER -->
            <section id="main-loader" class="main-loader">
            </section>
            
            <div id="login-module-holder"></div>

            <!-- APPLICATION CONTENT -->
            <div id="app-content-all-holder">

                <header class="clear-float shadow-box">
                    <div class="go-left logo-container">
                        <span class="nav-toggle icon icon-53"></span>
                        <img class="bankvault-innerpage-logo" src="{{ asset('images/bankvault/bankvault.png') }}" />
                    </div>
                    
                    <div class="go-left">
                        <span class="page-title-dinamic">
                            Bankvault
                        </span>
                    </div>
                    
                    <span class="top-nav-opener icon icon-53"></span>
                    <ul class="go-right bankvault-nav btn-nav btn-nav-inline clear-float">
                        <li class="dropdown-trigger">
                            <span class="span-btn"><span>System Settings</span></span>
                            <ul class="dropdown-menu float-dropdown-menu">
                                <li><span class="span-btn" data-module="Currency"><span class="data-title">Currency Rates</span></span></li>
                                <li><span class="span-btn" data-module="RolePermission"><span class="data-title">User Role Settings</span></span></li>
                            </ul>
                        </li>
                        <li class="dropdown-trigger middle">
                            <span class="span-btn"><span>User Accounts</span></span>
                            <ul class="dropdown-menu float-dropdown-menu">
                                <li><span class="span-btn" data-module="SystemUsers"><span class="data-title">All System Users</span></span></li>
                            </ul>
                        </li>
                        <li class="dropdown-trigger">
                            <span class="span-btn"><span>Administrator</span></span>
                            <ul class="dropdown-menu float-dropdown-menu">
                                <li><span class="span-btn" data-module=""><span>Log Out</span></span></li>
                                <li><span class="span-btn" data-module="SystemActions"><span class="data-title">System Actions</span></span></li>
                            </ul>
                        </li>
                    </ul>
                </header>

                <div class="main-nav-section shadow-box"><!-- opened -->
                    <div class="case-logo-main">
                        <img src="{{ asset('images/bankvault/case-logo.png') }}" />
                    </div>
                    <nav>
                        <ul class="btn-nav btn-nav-block clear-float">
                            <li class="active">
                                <span class="span-btn" data-module="RecentOrders">
                                    <span class="icon icon-5 imr-10"></span>
                                    <span class="data-title">Orders</span>
                                    <span class="noty-circle noty-circle-red">12</span>
                                </span>
                            </li>
                            <li>
                                <span class="span-btn" data-module="Customers">
                                    <span class="icon icon-41 imr-10"></span>
                                    <span class="data-title">Customers</span>
                                    <span class="noty-circle noty-circle-gray">0</span>
                                </span>
                            </li>
                            <li class="dropdown-trigger">
                                <span class="span-btn">
                                    <span class="icon icon-13 imr-10"></span>
                                    <span>Products Pricing</span>
                                </span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <span class="span-btn" data-module="CardPricing">
                                            <span class="icon icon-2 imr-10"></span>
                                            <span class="data-title">Card Pricing</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="span-btn" data-module="TaxSettings">
                                            <span class="icon icon-49 imr-10"></span>
                                            <span class="data-title">Tax</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="span-btn" data-module="ShippingCharge">
                                            <span class="icon icon-50 imr-10"></span>
                                            <span class="data-title">Shipping</span>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-trigger">
                                <span class="span-btn">
                                    <span class="icon icon-51 imr-10"></span>
                                    <span class="data-title">Content Management</span>
                                </span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <span class="span-btn" data-module="ImageGallery">
                                            <span class="icon icon-6 imr-10"></span>
                                            <span class="data-title">Image Gallery</span>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <!-- MODULE CONTENT -->
                <div id="main-module-container" class="main-container-wrap clear-float"></div><!-- opened -->

            </div>

        </div>        

        {% block javascriptLibs %}

            <!-- IMPORT JS LIBS -->

            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/lib/jquery-v1.11.3-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-ui-core-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery.plugin.min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery.datepick.min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-grid-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-collapse-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jq-panpopup-1.0.js'
                '@SinglePageClientBundle/Resources/public/js/lib/handlebars-v4.0.2-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/moment-v2.10.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-prototypes.js'
                '@SinglePageClientBundle/Resources/public/js/lib/jquery-noty-v2.3.6-min.js'
                '@SinglePageClientBundle/Resources/public/js/lib/html5shiv.js'
                '@ElavonCreatorBundle/Resources/public/js/lib/jquery.selectBoxIt.min.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% block javascriptBaseCode %}
            
            <!-- IMPORT JS PROTOTYPES -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/prototypes/string.js'
                '@SinglePageClientBundle/Resources/public/js/prototypes/number.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT JS HELPERS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/helpers/Class.js'
                '@SinglePageClientBundle/Resources/public/js/helpers/Datetime.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT APP CONFIG PARAMETERS -->
            {% javascripts
                '@ElavonCreatorBundle/Resources/public/js/config/parameters.js'
                '@ElavonAdminPanelBundle/Resources/public/js/config/parameters-local.js' %}

                    <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- IMPORT BASE CODE -->
            {% javascripts

                '@SinglePageClientBundle/Resources/public/js/base/Exception.js'
                '@SinglePageClientBundle/Resources/public/js/base/Constants.js'
                '@SinglePageClientBundle/Resources/public/js/base/Config.js'
                '@SinglePageClientBundle/Resources/public/js/base/RESTRequest.js'
                '@SinglePageClientBundle/Resources/public/js/base/LocalStorage.js'
                '@SinglePageClientBundle/Resources/public/js/base/Module.js'
                '@SinglePageClientBundle/Resources/public/js/base/Validation.js'
                '@SinglePageClientBundle/Resources/public/js/base/Model.js'
                '@SinglePageClientBundle/Resources/public/js/base/Controller.js'
                '@SinglePageClientBundle/Resources/public/js/base/Application.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            {% javascripts

                '@ElavonAdminPanelBundle/Resources/public/js/controllers/Authentication.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/Module.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/History.js'
                '@SinglePageClientBundle/Resources/public/js/controllers/Form.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/Tax.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/ImageGallery.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/ShippingCharge.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/CardDesignOrder.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/Customers.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/CustomerDetails.js'
                '@ElavonAdminPanelBundle/Resources/public/js/controllers/OrderItemDetails.js'
                '@ElavonCreatorBundle/Resources/public/js/controllers/FacebookImportPhotos.js'
            %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% block javascriptApplicationCode %}
            
            <!-- IMPORT MODEL EVENTS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/events/model/User.js'
                '@SinglePageClientBundle/Resources/public/js/events/model/Facebook.js'
                '@ElavonCreatorBundle/Resources/public/js/events/model/Country.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/Tax.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/ImageGalleryCategory.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/ImageGalleryItem.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/ShippingCharge.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/CardDesignOrder.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/Customers.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/OrderItemDetails.js'
                '@ElavonAdminPanelBundle/Resources/public/js/events/model/CustomerDetails.js'
            %}
                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT MODELS -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/models/User.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ElavonAdminPanelUser.js'
                '@ElavonCreatorBundle/Resources/public/js/models/Country.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/Tax.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ImageGalleryCategory.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ImageGalleryItem.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/ShippingCharge.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/CardDesignOrder.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/Customers.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/CustomerDetails.js'
                '@ElavonAdminPanelBundle/Resources/public/js/models/OrderItemDetails.js'
                '@SinglePageClientBundle/Resources/public/js/models/Facebook.js'
            %}
                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}


            <!-- IMPORT MODULES -->
            {% javascripts
                '@ElavonCreatorBundle/Resources/public/js/modules/Home.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/Login.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/RecentOrders.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/Customers.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/Customer.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/OrderItemDetails.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/ImageGallery.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/Currency.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/TaxSettings.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/CardPricing.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/ShippingCharge.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/RolePermission.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/SystemUsers.js'
                '@ElavonAdminPanelBundle/Resources/public/js/modules/SystemActions.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

            <!-- IMPORT APP CODE -->
            {% javascripts
                '@SinglePageClientBundle/Resources/public/js/app/LoginApplication.js'
                '@ElavonAdminPanelBundle/Resources/public/js/app/ElavonAdminPanelClient.js'
                '@ElavonAdminPanelBundle/Resources/public/js/bootstrap.js' %}

                <script src="{{ asset_url }}"></script>

            {% endjavascripts %}

        {% endblock %}

        {% include "SinglePageClientBundle:Default:notification.templates.html.twig" %}
        <script>
            $(document).ready(function(){
            
            //Detect does device support touch -> if not add class .no-touch
                if (!("ontouchstart" in document.documentElement)) {
                    document.documentElement.className += " no-touch";
                }
            //Navigation toggle
                var toggleNavTrigger = $('.nav-toggle');
                var windowObject = $(window);
                var windowWidth = windowObject.width();

                var topNavOpener = $('.top-nav-opener');
                var topNavigation = $('.bankvault-nav');
                var navDropItem = $('.bankvault-nav .dropdown-menu li');

                $(window).resize(function(){
                    windowWidth = windowObject.width();
                });

                toggleNavTrigger.on('click', function(){
                    if(windowWidth < 1200){
                        $('.main-nav-section').removeClass('closed');
                        $('.main-container-wrap').removeClass('closed');
                        $('.main-nav-section').toggleClass('opened');
                        topNavigation.removeClass('opened');
                    }else{
                        $('.main-nav-section').toggleClass('closed');
                        $('.main-container-wrap').toggleClass('closed');
                    }
                });
            //Navigation LI's / Dropdown UL's
                var navigationItems = $('.btn-nav li');
                var dropdownList = $('.dropdown-menu');

            
                navigationItems.on('click', function(){
            //Change active class on main LI's
                    var thisItem = $(this);

                    navigationItems.removeClass('active');
                    thisItem.addClass('active');
            //Dropdown        
                    if( thisItem.find(dropdownList).hasClass('opened-menu') ){
                        dropdownList.removeClass('opened-menu');
                    }else{
                        dropdownList.removeClass('opened-menu');
                        thisItem.find(dropdownList).addClass('opened-menu');
                    }
                });

            //Top Navigation dropdown-menu float-dropdown-menu opened-menu
                
                topNavOpener.on('click', function(){
                    topNavigation.toggleClass('opened');
                    $('.main-nav-section').removeClass('opened');
                });

                //Close top navigation when item from dropdown is clicked
                var navDropItemParentDrop = navDropItem.closest('.dropdown-menu');
                navDropItem.on('click', function(){
                    topNavigation.removeClass('opened');
                    navDropItemParentDrop.removeClass('opened-menu');
                    setTimeout(function(){
                        dropdownList.removeClass('opened-menu');
                    }, 100);
                    
                });
                
            });
        </script>
    </body>
</html>