{{ '<script id="create-currency-popup-content-template" type="text/x-handlebars-template">

    <form id="create-currency-form" acton="#">

        <div class="card-shipping-addresses-form form-inputs-container clear-float">'
| raw }}


          {{ forms.textInputSet('name', 'Name*', '', 'Currency') }}
          {{ forms.textInputSet('code', 'Code*', '', 'Currency') }}
          {{ forms.textInputSet('symbol', 'Symbol*', '', 'Currency') }}
          {{ forms.textInputSet('rate', 'Rate', '', 'Currency') }}
          {{ forms.selectInputSet('country', 'For Country*', 'Select Country', 'Currency') }}

{{ '    </div>

        <span id="create-currency-button"
              class="user-btn span-btn save-btn submit-button"
              data-role="create">{{okLabel}}</span>

        <span id="cancel-currency-create-button"
              class="user-btn span-btn reject-btn popup-close-button reset-button" data-role="cancel">{{cancelLabel}}</span>

    </form>

</script>' | raw }}