{{ '<script id="background-image-effects-template" type="text/x-handlebars-template">
    
     <div class="image-efects-import-controls import-controls">
        <a class="popup-close-button image-efects-close image-efects-import-control import-button-icon icon-22" data-action="close"></a>
    </div> 

    <ul id="effect-buttons-container" class="effects-list">
        <li><span class="effect-button original-effect-button" data-effect="original"></span><span>Original</span></li>
        <li><span class="effect-button bw-effect-button" data-effect="grayscale"></span><span>B$W</span></li>
        <li><span class="effect-button sepia-effect-button" data-effect="sepia"></span><span>Sepia</span></li>
        <li><span class="effect-button displace-effect-button" data-effect="invert"></span><span>Displace color</span></li>
        <li><span class="effect-button gausian-effect-button" data-effect="blur"></span><span>Gausian blur</span></li>
        <li><span class="effect-button darken-effect-button" data-effect="darken"></span><span>Darken</span></li>
        <li><span class="effect-button lighten-effect-button" data-effect="lighten"></span><span>Lighten</span></li>
        <li><span class="effect-button grain-effect-button" data-effect="grain"></span><span>Grain</span></li>
    </ul> 

    <div id="background-image-div" style="position: relative; padding-top: 20px; margin-top: 20px;">
    	<canvas id="background-image-canvas" height="300" width="476"></canvas> 
    </div>

    <div id="effect-buttons-container" style="position: relative;text-align: center; padding-top: 15px;">
        <span class="span-btn green-btn effect-button" data-effect="apply" id="apply-effect-button">Apply</span>
        <span id="back-button-image-effects" class="span-btn green-btn effect-button popup-close-button">Back</span>
    </div>
	
</script>' | raw }}