{{ '<script id="faceobok-import-popup-content-template" type="text/x-handlebars-template">
    <div id="facebook-content-all-holder">
        <div class="facebook-import-controls import-controls">
            <a class="facebook-back facebook-import-control import-button-icon icon-19 ut-90" data-action="back"></a>
            <a class="popup-close-button facebook-close facebook-import-control import-button-icon icon-22" data-action="close"></a>
        </div>
        <div class="tools-popup-images">
        <!-- Popup content goes here -->
            <div class="tools-popup-images-crop-container">
                <div class="import-photo-container facebook-photo-container">
                    <div id="facebook-photo-list-wrapper" class="photo-list-wrapper">
                        
                        <div id="facebook-photos-loader" class="popup-loader-screen"><img src="/images/loaderImport.gif" /></div>

                        <div class="facebook-popup-background"></div>

                        <div id="facebook-albums-container" class="social-albums-container"></div>
                        <div id="facebook-album-photos-container" class="social-albums-container"></div>

                        <span id="facebook-load-more-button" class="span-btn import-load-more-button">{{ loadMoreButonValue }}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</script>' | raw }}