{{ '<script id="flickr-import-popup-content-template" type="text/x-handlebars-template">

    <div class="flickr-import-controls import-controls">
        <a class="popup-close-button flickr-close flickr-import-control import-button-icon icon-22" data-action="close"></a>
    </div>

    <div class="tools-popup-images">
    <!-- Popup content goes here -->
        <div class="tools-popup-images-crop-container">
            <div id="flickr-content-all-holder" class="import-photo-container flickr-photo-container">

                <div id="flickrPhotoListWrapper" class="photo-list-wrapper">

                    <div id="flickr-import-photos-loader" class="importLoaderScreen"><img src="/images/loaderImport.gif" /></div>
                    
                    <div id="flickr-photos-container" class="social-albums-container">
                        
                    </div>
                    <button id="flickr-load-more-button" class="import-load-more-button">Load more...</button>
                    
                </div>
            </div> 
        </div>
    </div>

    

</script>' | raw }}
