{{ '<script id="form-popup-content-template" type="text/x-handlebars-template">

    <form action="#" class="popup-form">
        
        {{#if inputs }}

            <div class="form-inputs-container">
        		{{#each inputs}}
        	       
        			{{#ifExp type "===" "text"}}
                        <div class="form-field-set">
                            <span class="form-field-error form-field-error-{{name}}"></span>
                            <input type="{{type}}" name="{{name}}" placeholder="{{placeHolder}}" value="{{value}}"  class="form-field-input" />
                        </div>
        			{{/ifExp}}

        			{{#ifExp type "===" "textarea"}}
                        <div class="form-field-set">
                            <span class="form-field-error form-field-error-{{name}}"></span>
                            <textarea name="{{name}}" placeholder="{{placeHolder}}" value="{{value}}" class="form-field-input"></textarea>
                        </div>
        			{{/ifExp}}

        			{{#ifExp type "===" "select"}}
                        <div class="form-field-set">
                            <span class="form-field-error form-field-error-{{name}}"></span>
                            <select name="{{cardType}}" class="form-field-input">
            			    	{{#each options}}

            			    		{{#if selected}}
            						    <option value="{{value}}" selected>{{label}}</option>
            						{{else}}
            					    	<option value="{{value}}">{{label}}</option>
            					  	{{/if}}
            			    		
            			    	{{/each}}
            			    </select>
                        </div>
        			{{/ifExp}}
            		
          		{{/each}}
            </div>

        {{/if}}
        <div class="form-popup-btn-container">
            <span class="span-btn submit-button green-btn transition" data-role="popup-form-button" data-intention="submitForm">{{okLabel}}</span>
            <span class="span-btn cancel-button popup-close-button gray-btn transition" data-role="popup-form-button" data-intention="cancel">{{cancelLabel}}</span>
        </div>

    </form>

</script>' | raw }}