{{ '<script id="gallery-popup-content-template" type="text/x-handlebars-template">

    <div id="gallery-content-all-holder" class="import-photo-container gallery-photo-container">
        <div class="gallery-import-controls import-controls">
            <a class="popup-close-button gallery-close gallery-import-control import-button-icon icon-22" data-action="close"></a>
        </div>

        <div id="gallery-albums-container" style="padding-top: 30px;">
            <!-- <span class="span-btn green-btn effect-button" data-effect="original">Original</span> -->
        </div>

        <div id="gallery-photo-list-wrapper" class="photo-list-wrapper">
            <!-- <div id="gallery-import-photos-loader" class="import-loader-screen"><img src="/images/loaderImport.gif" /></div> -->
            <div id="gallery-photos-container" class="social-albums-container"></div>
        </div>
    </div>

</script>' | raw }}
