{{ '<script id="list-popup-template" type="text/x-handlebars-template">
    
    <div class="tools-popup-title">
        <p>{{title}}</p>
        <span class="close-tools-popup"></span>
    </div>
    <div class="tools-popup-content">
        
           
                {{> content }}
    </div>

</script>' | raw }}
