{{ '<script id="proceed-to-payment-popup-content-template" type="text/x-handlebars-template">
    <div class="payment-import-controls import-controls">
        <a id="payment-popup-close-button" class="popup-close-button payment-close payment-import-control import-button-icon icon-22"></a>
    </div>
    <div>
        <form novalidate="novalidate"
              name="checkout"
              method="POST"
              class="checkout"
              id="checkout"
              action=""
              target="elavon-card-designer-payment-iframe">
            <input type="hidden" name="TERMINALID" value="" />
            <input type="hidden" name="ORDERID" value="" />
            <input type="hidden" name="CURRENCY" value="" />
            <input type="hidden" name="AMOUNT" value="" />
            <input type="hidden" name="DATETIME" value="" />
            <input type="hidden" name="RECEIPTPAGEURL" value="" />
            <input type="hidden" name="HASH" value="" />
            <input type="hidden" name="FFID" value="" />
            <input type="hidden" name="INIFRAME" value="Y" />
        </form>
        <iframe width="100%"
                 height="500"
                 frameborder="0"
                 scrolling="yes"
                 name="elavon-card-designer-payment-iframe"
                 allowtransparency="true"
                 id="elavon-card-designer-payment-iframe"></iframe>
    </div>
</script>' | raw }}
