/*Buttons*/
.span-btn-txt{
    vertical-align: middle;
}
.green-btn{
    padding: 10px 20px;
    border: 1px solid #80962D;
    color: #fff;
    background: #A6C143;
}
.green-btn:hover{
    cursor: pointer;
    border: 1px solid #A6C143;
    color: #A6C143;
    background: #fff;
}
.gray-btn{
    padding: 10px 20px;
    border: 1px solid #B2B2B2;
    color: #4F4F4F;
    background: #eee;
}
.gray-btn:hover{
    color: #fff;
    background: #555;
}
