@charset "UTF-8";

@font-face {
  font-family: "fanfare";
  src:url("/fonts/icofont/fanfare.eot");
  src:url("/fonts/icofont/fanfare.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icofont/fanfare.woff") format("woff"),
    url("/fonts/icofont/fanfare.ttf") format("truetype"),
    url("/fonts/icofont/fanfare.svg#fanfare") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fanfare" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fanfare" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Icon Styles*/
span.icon{
  display: inline-block;
  vertical-align: middle;
  font-weight: normal!important;
}
/* Icon Size */
.ifs-66{
  font-size: 66px;
  height: 66px;
}
.ifs-26{
  font-size: 26px;
  height: 26px;
}
.ifs-20{
  font-size: 20px;
  height: 20px;
}
.ifs-16{
  font-size: 16px;
  /*height: 16px;*/
}

/* Icon Margin */
.imr-5{
  margin-right: 5px;
}
.iml-5{
  margin-left: 5px;
}
.imr-10{
  margin-right: 10px;
}
.iml-10{
  margin-left: 10px;
}

/* Icon Color */
.ic-light-gray{
  color: #eeeeee;
}
.ic-dark-gray{
  color: #d8d8d8;
}
.ic-white{
  color: #ffffff;
}
.ic-dark{
  color: #555555;
}
.ic-green{
  color: #a6c143;
}




.icon-1:before {
  content: "\61";
}
.icon-2:before {
  content: "\62";
}
.icon-3:before {
  content: "\63";
}
.icon-4:before {
  content: "\64";
}
.icon-5:before {
  content: "\65";
}
.icon-6:before {
  content: "\66";
}
.icon-7:before {
  content: "\67";
}
.icon-8:before {
  content: "\68";
}
.icon-9:before {
  content: "\69";
}
.icon-10:before {
  content: "\6a";
}
.icon-11:before {
  content: "\6b";
}
.icon-12:before {
  content: "\6c";
}
.icon-13:before {
  content: "\6d";
}
.icon-26:before {
  content: "\6e";
}
.icon-25:before {
  content: "\6f";
}
.icon-24:before {
  content: "\70";
}
.icon-23:before {
  content: "\71";
}
.icon-22:before {
  content: "\72";
}
.icon-21:before {
  content: "\73";
}
.icon-20:before {
  content: "\74";
}
.icon-19:before {
  content: "\75";
}
.icon-18:before {
  content: "\76";
}
.icon-17:before {
  content: "\77";
}
.icon-16:before {
  content: "\78";
}
.icon-15:before {
  content: "\79";
}
.icon-14:before {
  content: "\7a";
}
.icon-27:before {
  content: "\41";
}
.icon-28:before {
  content: "\42";
}
.icon-30:before {
  content: "\44";
}
.icon-32:before {
  content: "\46";
}
.icon-29:before {
  content: "\43";
}
.icon-33:before {
  content: "\45";
}
.icon-34:before {
  content: "\47";
}
.icon-35:before {
  content: "\48";
}
.icon-36:before {
  content: "\49";
}
.icon-37:before {
  content: "\4a";
}
.icon-38:before {
  content: "\4b";
}
.icon-39:before {
  content: "\4c";
}
.icon-31:before {
  content: "\4d";
}
.icon-40:before {
  content: "\4e";
}
.icon-41:before {
  content: "\4f";
}
.icon-42:before {
  content: "\50";
}
.icon-43:before {
  content: "\51";
}
.icon-44:before {
  content: "\52";
}
.icon-45:before {
  content: "\53";
}
.icon-46:before {
  content: "\54";
}
.icon-47:before {
  content: "\55";
}
.icon-48:before {
  content: "\56";
}
.icon-49:before {
  content: "\57";
}
.icon-50:before {
  content: "\58";
}
.icon-51:before {
  content: "\59";
}
.icon-52:before {
  content: "\5a";
}
.icon-53:before {
  content: "\30";
}
