/*
    COLORS:
    Green ------- #a6c143;
    Blue -------- #018aff;
    Light Green - #eff5e4;
    Dark -------- #555555;
    Dark Gray --- #d8d8d8;
    Light Gray -- #eeeeee;
*/
/***********************************************************************
                            GLOBAL CLASSES
***********************************************************************/
.go-left{
    float: left;
}
.go-right{
    float: right;
}
.clear-float:after{
    content: '';
    display: block;
    clear: both;
}
.display-none{
    display: none;
}
.pointer-indicator{
    cursor: pointer;
}
span.span-btn{
    display: inline-block;
    cursor: pointer;
}
.no-padding{
    padding: 0!important;
}
/* Checkbox Style */
input[type="checkbox"]{
    display: none;
    margin-bottom: 10px;
}
.squared-input{
    margin: 10px 0 15px 0;
    position: relative;
}
.squared-input label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border: 1px solid #A6C143;
    border-radius: 2px;
}
.squared-input label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #A6C143;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squared-input label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.squared-input input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.squared-span{
    display: inline-block;
    margin-top: 3px;
    padding-left: 26px;
    color: #555;
}
.squared-input span{
    font-size: 16px;
}

.form-field-input {
}