/***********************************************************************
                            GLOBAL PAGE STYLE
***********************************************************************/
html, body {
    height: 100%;
    font-family: "Whitney SSm A", "Whitney SSm B";
    font-style: normal;
    font-weight: 400;
    color: #555;
}
.main-loader{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0, 0.75);
}
.main-loader h2{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: -25px;
    font-size: 40px;
}

.wrapper{
    width: 1010px;
    margin: 0 auto;
}
/*** Grid system ***/
.content-box{
    margin-bottom: 40px;
}
.grid-whole, .grid-half, .grid-third, .grid-fourth{
    display: block;
    float: left;
}
.grid-whole{
    width: 100%;
}
.grid-half{
    width: 50%;
}
.grid-third{
    width: 33.33%;
}
.grid-fourth{
    width: 25%;
}
/*Titles*/
.page-section-pre-title{
    margin-bottom: 10px;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}
.page-section-title{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #555;
}
.page-section-subtitle{
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}
.border-title{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
/*Buttons*/
.span-btn-txt{
    vertical-align: middle;
}
.green-btn{
    padding: 10px 20px;
    border: 1px solid #80962D;
    color: #fff;
    background: #A6C143;
}
.green-btn:hover{
    cursor: pointer;
    border: 1px solid #A6C143;
    color: #A6C143;
    background: #fff;
}
.gray-btn{
    padding: 10px 20px;
    border: 1px solid #B2B2B2;
    color: #4F4F4F;
    background: #eee;
}
.gray-btn:hover{
    color: #fff;
    background: #555;
}

/*Transitions*/
.transition{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}