.import-photo-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000000;
    display: none;
    background-color: #F9F9F9;
}

.album-photo-item {
    cursor: pointer;
}

.social-albums-container{
    margin-bottom: 200px;
}

.album-photo-item label{
    display: block;
    padding-top: 1em;
    color: #555555;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    padding: 4px;
    text-align: center;
    background: #ffffff;
}

.facebook-photo-item label{
    padding: 0;
}

.album-photo-item:hover label {
    text-decoration: underline;
}

.popup-background {
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    opacity: 1;
    position: absolute;
}

.import-controls {
    height: 2em;
    font-family: 'untitled-font-1';
    color: #fff;
    margin: 1em 0;
}

.import-controls a {
    margin-right: 1em;
    float: right;
    cursor: pointer;
    font-size: 2em;
}

.import-photo-container .facebook-back {
    display: none;
}

.import-image-item{
    width: 100%;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    padding: 4px;
    background: #ffffff;
}

.importLoaderScreen{
    position: fixed;
    width: 100%;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.85);
    display: none;
}

.importLoaderScreen img{
    position: fixed;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin: 32px 0 0 -32px;
}
/*Masonry*/
.album-photo-item{ width: 24%; margin: 0.5%; }

.photo-list-wrapper{
    /*height: 750px;*/
    height: 100%;
    overflow: auto;
    position: relative;
}

.import-load-more-button {
    position: relative;
    left: 50%;
    bottom: 120px;
    width: 240px;
    margin-top: 20px;
    margin-left: -120px;
    padding: 24px 0;
    font-size: 2em;
    color: #ffffff;
    background-color: #428BCA;
    border: none;
}