@media screen and (max-width: 1200px){
	.tools-popup {
	    position: fixed;
	    width: 90%;
	    height: 600px;
	    top: 50%;
	    left: 0;
	    right: 0;
	    z-index: 999;
	    margin: -300px auto 0 auto;
	    background-color: #FFF;
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	    border-bottom: 5px solid #A6C143;
	}
}
@media screen and (max-width: 1100px){
	.page-top-message, .page-top-message-inner-wrapper{
		width: 100%!important;
	}
	
}
@media screen and (max-width: 1050px){
	.wrapper, .header, .page-top-message, .home-cards-wrapper, .page-top-navigation-inner{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-logo{
		right: 20px;
	}
	.card-designer-area {
	    width: 560px;
	    margin-left: 15px;
	}
}
@media screen and (max-width: 980px){
	.color-picker-holder, .no-touch .color-picker-holder{
		display: none;
	}
	.no-tablet{
		display: none;
	}
	.creator-page-top{
		position: static!important;
	}
	.creator-page-wrapper{
		padding-top: 0!important;
	}
	.info-box{
		padding: 0 20px;
	}
	.rot-item-accordion-header {
	    display: table;
	    width: 100%;
	}
	.rot-item-accordion-header li {
    	display: table-cell;
    	vertical-align: middle;
    	float: none;
	}
	.sci-value-row div.empty-table-col{
		width: 5%;
	}
	.sci-value-row div.sci-input{
		width: 35%;
	}
	.sci-value-row div.button-table-col{
		width: 20%;
	}
	/*Designer*/
	.card-designer-menu{
		position: relative;
		padding-top: 60px;
	}
	.creator-design-name{
		float: none;
    	position: absolute;
    	top: 10px;
    	left: 0;
    	width: 100%;
    	text-align: center;
	}
	.card-designer-menu ul{
		float: none;
		text-align: center;
	}
	.page-top-navigation-inner ul li {
	    display: inline-block;
	    float: none;
	    margin-right: -2px;
	}
	.card-amount-controler-wrap {
    	width: 140px;
	}
	.card-amount-input {
    	width: 60px;
	}
	.card-amount-increament {
    	top: 0;
    	right: 40px!important;
    	border-left: 1px solid #a6c143;
    	border-right: 1px solid #a6c143;
    	border-bottom: none;
	}
	.card-amount-decreament {
    	bottom: auto;
    	right: 0;
    	top: 0;
	}
	.card-amount-controler-wrap span.span-btn {
	    width: 40px;
	    height: 30px;
	    line-height: 30px;
	}
	.card-element-position-controls{
		display: none;
	}
	.card-element-tools{
		width: 100%;
	}
	.element-title{
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	/*CARD DESIGNER*/
	.close-pannels{
    	display: block;
	}
	.show-controled-element{
	    display: block;
	}
	.module-content-container{
		position: relative;
    	z-index: 999;
	}
	.card-designer-background-tools, .card-designer-tools, .card-designer-tools-options{
		display: none;
		position: fixed;
		top: 38px;
		left: 0;
		z-index: 3;
		width: 100%;
		background-color: #fff;
		border: 1px solid #e3e3e3;
		box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	}
	.card-designer-tools-options.moved{
		top: 111px;
	}
	.card-designer-background-tools.opened, .card-designer-tools.opened, .card-designer-tools-options.opened{
		display: block;
	}
	.card-designer-tools-options.opened{
		padding-bottom: 43px;
	}
	.card-designer-tools-options{
		min-height: 1px;
	}
	.card-designer-area{
		width: 100%;
	}
	.card-side-switch-nav {
	    border-bottom: 1px solid #777;
	}
	.responsive-controles{
		display: block;
		z-index: 4;
	}
	.responsive-controles.opened-controles{
	    top: 0px;
	}
	.card-designer-pannel-title {
    	padding: 20px 0 0 10px;
	}
	.background-tools-pannel .card-designer-btn-icon, .image-tools-pannel .card-designer-btn-icon{
		float: left;
		width: 49%;
		margin: 0.5%;
	}
	.tools-popup-title{
		font-size: 30px;
	}
}
@media screen and (max-width: 768px){
	.sd-none{
		display: none!important;
	}
	.grid-half{
		width: 100%;
	}
	/*Header*/
	.header{
		padding-top: 55px;
	}
	.navigation li.back-browse-btn, .navigation li.forward-browse-btn{
		margin: 0;
	}
	.back-browse-btn, .forward-browse-btn{
		position: absolute;
	    top: 0;
	    width: 50%;
	    text-align: center;
		border-bottom: 1px solid #eee;
	}
	.navigation li.back-browse-btn span.span-btn, .navigation li.forward-browse-btn span.span-btn{
		width: 100%;
	    display: block;
	    padding: 10px 0;
	}
	.back-browse-btn{
	    left: 0;
	    border-right: 1px solid #eee;
	}
	.forward-browse-btn{
	    right: 0;
	}
	.header-options-container{
		float: none;
		width: 100%;
		height: 229px;
		transition: all 0.3s;
	}
	.header-options-container.opened-cart{
		height: 365px;
	}
	.mobile-cart-trigger{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding: 15px 0;
	    background: #A6C143;
	    color: #fff;
	    text-align: center;
	    border-bottom: 1px solid #fff;
	}
	.navigation{
		width: 100%;
		margin-top: 5px;
		text-align: center;
	}
	.cart-options-container {
    	position: absolute;
    	top: 235px;
    	left: 0;
    	width: 100%;
    	height: 50px;
    	overflow: hidden;
    	transition: all 0.3s;
	}
	.opened-cart .cart-options-container{
		height: 171px;
	}
	.currency-options {
    	text-align: center;
	}
	.cart-options {
       	text-align: center;
	}
	.header-logo{
		position: absolute;
	    top: 100px;
	    left: 50%;
	    margin-left: -90px;
	}
	/*Header*/
	/* HomePage */
	.home-cards-wrapper{
		float: left;
		width: 40%;
		padding: 0;
	}
	.info-home-wrapper{
		float: right;
		width: 60%;
		padding: 30px 20px 30px 0;
		background-color: #fff;
	}
	.home-cards-wrapper .grid-third{
		width: 100%;
		margin-bottom: 20px;
	}
	.info-home-wrapper .grid-third{
		width: 100%;
	}
	.loyalty-info{
		margin-bottom: 58px;
	}
	.promo-info{
		margin-bottom: 60px;
	}

	.card-type-block {
    	padding: 0 20px 0 0;
	}
	.info-box{
		padding: 0;
	}
	.info-box img{
		float: left;
		width: 36%;
    	margin-right: 4%;
	}
	.info-box p{
		float: left;
		width: 60%;
		margin-top: 20px;
	}
	.gr-line{
		display: none;
	}
	/* /# HomePage*/
	/* My Design studio*/
	.page-top-navigation{
		padding-top: 0;
	}
	.page-top-navigation-inner{
		padding-left: 0;
		padding-right: 0;
	}
	.design-studio-navigation{
		width: 100%;
	}
	.ro-trig, .cs-trig{
		width: 33%;
	}
	.md-trig {
		width: 34%!important;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.page-top-navigation-inner ul li{
		display: block;
		height: 60px;
		margin-right: 0;
		text-align: center;
		background-color: #777;
	}
	.page-top-navigation-inner ul li:hover{
		background-color: #A6C143;
	}
	.page-top-navigation-inner ul li span.span-btn{
    	display: inline-block;
    	width: 100%;
    	height: 60px;
    	padding: 0;
    	font-size: 12px;
    	vertical-align: middle;
    	overflow: hidden;
    	line-height: 60px;
	}
	.rot-item-accordion-content{
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.rot-item-accordion-header, .accordion-item-wrap{
		width: 900px;
	}
	.my-designs-list li {
    	width: 49%;
    	margin-bottom: 2%;
	}
	.my-designs-list li:nth-child(3n-1) {
    	margin-left: 0;
    	margin-right: 0;
	}
	.my-designs-list li:nth-child(even) {
	    margin-left: 2%;
	    margin-right: 0;
	}
	.card-shipping-addresses-tab{
		position: relative;
		/*overflow: hidden;*/
		min-height: 1px;
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.card-shipping-addresses-tab-list-wrap{
		padding-right: 0;
	}
	.add-new-shipping-address-area {
	    /*position: absolute;*/
	    z-index: 2;
	    left: 102%;
	    padding: 10px;
	    border-left: none;
	    background-color: #fff;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.opened-area{
		max-height: 550px;
		min-height: 550px;
		overflow: hidden;
	}
	.opened-area .add-new-shipping-address-area{
		left: 0;
	}
	span.span-btn.panel-on-btn, span.span-btn.panel-off-btn{
    	display: inline-block;
	}
	/*Shopping Cart*/
	.shopping-cart-table-wrapper, .checkout-table{
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	.shopping-cart-table, .checkout-table-header, .checkout-table-row{
		width: 900px;
	}
	.checkout-address-form div{
	    margin-bottom: 10px;
	    width: 50%;
	    float: left;
	    padding: 0 10px;
	    clear: none;
	}
	.checkout-billing-address {
    	padding-right: 0px;
	}
	.checkout-address-form div label {
	    width: 120px;
	    margin-bottom: 5px;
	    display: block;
	}
	.checkout-address-form div input, .select-container{
		width: 100%;
	}
	.checkout-shipping-address{
		padding-left: 0;
	}
	.checkout-address-form div.save-cancel-new-address-field{
		width: 100%;
		padding-top: 20px;
	}
	/*Designer*/
	.card-designer-menu{
		padding-top: 60px;
	}
	.page-top-navigation-inner ul li{
		float: left;
		width: 33%;
	}
	.page-top-navigation-inner ul li.middle-col{
		width: 34%;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.page-top-navigation-inner ul.hidden-menu{
		top: 60px;
	}
	.page-top-navigation-inner ul.hidden-menu li{
		width: 100%;
		display: table;
	}
	.page-top-navigation-inner ul.hidden-menu li span{
		display: table-cell;
		vertical-align: middle;
		font-size: 12px;
	}
	.terms-check-box, .add-to-cart{
		width: 100%;
	}
	.add-to-cart{
		text-align: left;
   	 	border-top: 1px solid #eee;
    	padding-top: 15px;
	}
	.preview-content {
	    transform: scale(0.8);
	}
	.card-designer-area {
	    margin-left: 0;
	}
	/*.responsive-controles, .card-designer-background-tools, .card-designer-tools-options{
		display: none!important;
	}*/
	.amount-price-info {
	    margin-top: 5px;
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.number-of-cards{
		float: none;
    	margin-top: 10px;
    	text-align: center;
	}
	.card-amount-controler-wrap {
	    width: 140px;
	    text-align: left;
	}
	.album-photo-item {
	    position: relative!important;
	    float: left;
	    top: 0!important;
	    left: 0!important;
	    width: 46%;
	    height: 224px;
	    margin: 0px 0 10px 10px;
	    overflow: hidden;
	    border: 1px solid #A6C143;
	}
	.tools-popup-images-crop-container {
    	width: 104%;
	}
	.card-designer-background-tools{
		height: 150px;
	}
	.card-background-options{
		float: none;
		text-align: center;
	}
	.card-background-options-tools{
		float: none;
		margin-top: 16px;
	}
	.background-image-tools {
	    text-align: center;
	}
	.background-scale-box {
	    width: 160px;
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	}
	.background-size-tools {
	    margin-left: 20px;
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	}
	.card-designer-tools-options.moved {
	    top: 184px;
	}
	.standard-colors-holder{
		float: none;
    	width: 100%;
	}
	ul.color-pallete-horizontal {
	    margin: 0 auto;
	}
	.xs-grid-whole, .xs-grid-half, .xs-grid-third{
		float: left;
		margin: 0.5% 0.5% 10px 0.5%;
	}
	.xs-grid-whole{
		width: 99%;
	}
	.xs-grid-half{
		width: 49%;
	}
	.xs-grid-third{
		width: 32%;
		text-align: center;
	}
	.color-pallete-tiles {
	    top: 50px;
	    right: auto;
	    left: 50%;
	    margin-left: -72px;
	}
	.logo-tools-pannel span.card-designer-btn{
		width: 49%;
		margin: 0.5% 0.5% 10px 0.5%;
		float: left;
	}
	.popup-main-window {
	    position: fixed;
	    top: 10px;
	    left: 10px;
	    right: 10px;
	    bottom: 10px;
	    width: auto;
	    max-height: 100%;
	    margin: auto;
	    overflow: hidden;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	    -o-border-radius: 5px;
	    border-radius: 5px;
	    background-color: #fff;
	    z-index: 999;
	    box-shadow: 0 1px 3px #bbb;
	    overflow-y: scroll;
	}
}
@media screen and (max-width: 600px){
	/* HomePage */
	.info-home-wrapper{
		display: none;
	}
	.home-cards-wrapper{
		width: 80%;
		float: none;
	}
	.home-cards-wrapper .grid-third {
    	width: 100%;
    	margin-top: 20px;
    	margin-bottom: 0;
	}
	.card-type-block {
    	padding: 0 20px;
	}
	/* /# HomePage */
	/* Footer */
	.footer-content .wrapper{
		padding-top: 80px;
	}
	.footer-info{
		width: 100%;
		text-align: center;
	}
	.footer-logo{
		top: 10px;
		right: 50%;
		margin-right: -115px;
	}
	.footer-info{
		width: 100%;
		text-align: center;
	}
	/* /#Footer */
	.rot-header li, .rot-item-accordion-header li {
	    font-size: 14px;
	}
	.rot-item-row div, .accordion-item-row div{
		font-size: 12px;
	}
	.my-designs-list li:nth-child(even) {
	    margin-left: 0;
	    margin-right: 0;
	}
	.my-designs-list li{
		width: 100%;
	}
	.sci-proceed-options-box .span-btn{
		float: none;
	    display: block;
	    width: 250px;
	    margin: 0 auto 20px auto;
	}
	.sci-price-table{
		width: 100%;
	}
	.sci-price-table li span{
		font-size: 14px;
	}
	.sci-price-table li.sci-price-total span{
		font-size: 18px;
	}
	.checkout-address-form div {
	    width: 100%;
	    padding: 0;
	}
	.payment-box {
    	text-align: center;
	}
	.payment-info {
    	width: 100%;
    	display: block;
    	float: none;
	}
	.payment-box .span-btn{
		margin-top: 20px;
		float: none;
	}
	.opened-area {
	    min-height: 660px;
	    max-height: 660px;
	}
	.form-field-set {
	    margin-bottom: 5px;
	}
	.card-shipping-addresses-form label {
	    display: block;
	    float: none;
	    width: 100%;
	    margin-bottom: 5px;
	    padding-top: 7px;
	}
	.card-shipping-addresses-form .select-container {
	    width: 100%;
	    margin-bottom: 0px;
	}
	.card-shipping-addresses-form input {
	    width: 100%;
	    margin-bottom: 0;
	}
	.preview-content {
	    width: 100%!important;
	    transform: scale(0.5);
	    transform-origin: 50%;
	}
	.album-photo-item {
	    width: 92%;
	}
	.tools-popup-title {
    	font-size: 20px;
	}
	.card-shipping-addresses-form{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 500px){
	.display-none-xs{
		display: none;
	}
	.form-popup {
	    position: absolute;
	    top: 18%;
	    left: auto;
	    z-index: 100;
	    width: 100%;
	    margin: 0 auto 0 auto;
	    border-bottom: 5px solid #A6C143;
	    background-color: rgb(255, 255, 255);
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
	.import-load-more-button {
	    position: relative;
	    display: block;
	    width: 100%;
	    margin-left: 0;
	    left: 0;
	    padding: 20px;
	    border: 1px solid #A6C143;
	    text-align: center;
	    color: #fff;
	    font-size: 24px;
	    cursor: pointer;
	    background-color: #a6c143;
	}
	.responsive-controles li {
    	font-size: 12px;
    	padding: 14px;
	}
	.card-designer-background-tools {
    	height: 215px;
	}
	
	.card-designer-tools-options.moved{
		top: 244px;
    	height: 35px;
	}
	.card-designer-tools-options.moved.opened-panel {
    	top: 244px;
    	height: auto;
	}
	.background-size-tools{
		margin-left: 0;
	}
	.close-pannels{
		padding: 14px;
	}
	.background-scale-box{
		width: 100%;
		display: block;
	}
	.background-tools-pannel .card-designer-btn-icon{
		width: 19%;
		padding: 30px 0 15px 0;
	}
	.background-tools-pannel .card-designer-btn-icon span.icon {
    	left: 50%;
    	margin-left: -14px;
	}
	.xs-panel-opener{
		display: block;
	    position: fixed;
	    top: 40px;
	    right: 0;
	    z-index: 9999;
	    width: 40px;
	    height: 40px;
	    background-color: #A6C143;
	}
	.save-cancel-new-address-field .gray-btn{
		display: block;
		margin-bottom: 5px;
	}

}
@media screen and (max-width: 400px){
	.wrapper, .header, .page-top-message, .home-cards-wrapper {
    	width: 100%;
    	padding-left: 10px;
    	padding-right: 10px;
	}
	.home-cards-wrapper{
		width: 100%;
		float: none;
	}
	.navigation li {
    	font-size: 12px;
	}
	.preview-content {
	    width: 100%!important;
	    transform: scale(0.5);
	    transform-origin: 17%;
	}
	.effects-list li {
	    width: auto;
	}
	#image-effects-popup .lower-canvas {
    	left: 50%!important;
    	margin-left: -218px;
    	top: -25px!important;
    	width: 224px!important;
    	height: 144px!important;
	}
	.canvas-container {
	    top: 0;
	    left: 0;
	    margin: 0 auto;
	    height: 137px!important;
	}
	.tools-popup {
    	position: fixed;
    	width: 90%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	right: 0;
    	margin: -0px auto 0 auto;
	}
	.tools-popup-title {
    	padding: 5px 20px;
	}
	.import-controls {
	    position: absolute;
	    top: 0px;
	    right: 20px;
	    width: 300px;
	    z-index: 1;
	    padding: 7px 0 4px 0;
	    color: #A6C143;
	    text-align: right;
	    background-color: transparent;
	    font-size: 25px;
	}
	.tools-popup-title {
    	font-size: 12px;
	}
	.tools-popup-images-crop-container {
	    width: 106%;
	}
	.album-photo-item {
	    width: 87%;
	}
	.tools-popup-images {
	    top: 10px;
	}
}
@media screen and (max-height: 600px){
	.tools-popup {
    	height: 400px;
    	margin: 0px auto 0 auto;
    	top: 10px;
	}
	.tools-popup-images-crop-container {
	    height: 314px!important;
	    overflow-y: scroll;
	    overflow-x: hidden;
	}
	.canvas-container{
		width: 250px;
    	height: 153px;
	}
	#image-effects-popup .lower-canvas{
		width: 250px!important;
    	height: 153px!important;
	}
	.effects-list{
		padding-top: 0;
	}
}