.color-picker-holder{
	display: none;
}
.no-touch .color-picker-holder{
	display: block;
}
#app-content-all-holder{
	display: none;
	height: 100%;
}
/*Dropdown*/
.dropdown-menu-trigger{
	position: relative;
	z-index: 100;
}
.dropdown-menu-trigger ul{
	display: none;
	opacity: 0;
	left: 0px;
	top: 60px;
	position: absolute;
	background-color: #A6C143;
	color: #fff;
	transition: all 0.3s;
}
.dropdown-menu-trigger:hover ul{
	display: block;
	top: 38px;
    box-shadow: 0 0 3px #555;
	width: 100%;
	opacity: 1;
	left: 0px;
}
.dropdown-menu-trigger ul li{
	width: 100%;
	border-bottom: 1px solid #fff;
}
.dropdown-menu-trigger ul li span{
	display: block;
	width: 100%;
	padding: 10px;
	cursor: pointer;
}
/***********************************************************************
								HEADER
***********************************************************************/
.header{
	position: relative;
	width: 1010px;
	margin: 0 auto;
	padding: 15px 0;
}
.header-logo{
	display: block;
}
.logo{
	width: 173px;
    height: auto;
}
.mobile-cart-trigger{
	display: none;
}
.navigation li{
	display: inline-block;
	margin-left: 10px;
}
.navigation li span.span-btn{
	margin: 0;
    padding: 0;
}
.cart-options-container{
	margin-top: 20px;
}
.cart-options span.span-btn{
	padding: 0;
}
.currency-options{
	text-align: right;
}
.currency-options p, .currency-options ul, .currency-options ul li{
	display: inline-block;
}
.currency-options ul li{
	color: #555555;
	font-size: 13px;
	cursor: pointer;
	margin-left: 5px;
}
.currency-options ul li.active-currency{
	color: #a6c143;
	font-weight: 600;
	text-decoration: underline;
}
.cart-options{
	margin-top: 20px;
	text-align: right;
}
.cart-value{
	margin-top: 10px;
	font-size: 30px;
}
.currency-symbol{
	font-size: 14px;
	vertical-align: top;
}
/***********************************************************************
						PAGE TOP - PAGE HEADERS
***********************************************************************/
.page-top, .page-top-empty{
	width: 100%;
	margin-bottom: 15px;
}
.page-top-empty{
	border-bottom: 1px solid #eee;
}
.page-top-navigation{
	width: 100%;
	padding-top: 20px;
	background-color: #eeeeee;
}
.page-top-navigation-inner{
	width: 1010px;
	margin: 0 auto;
}
.page-top-navigation-inner ul li{
	display: inline-block;
	float: left;
	margin-right: 1px;
}
.page-top-navigation-inner ul li span.span-btn{
	display: block;
	padding: 10px 30px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	background-color: #777;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.page-top-navigation-inner ul li span.span-btn:hover, .page-top-navigation-inner ul li.active span.span-btn{
	background-color: #a6c143;
}
.page-top-green-line{
	width: 100%;
	height: 10px;
	background-color: #a6c143;
}
.page-top-message{
	width: 1010px;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: #555555;
	color: #ffffff;
}
.page-top-message-inner-wrapper{
	width: auto;
	margin: 0 auto;
}
.home-page-top-message-title{
	margin: 20px 0;
	font-size: 30px;
}
.page-top-message-text{
	display: inline-block;
	margin-right: 10px;
	font-size: 18px;
}
.home-page-top-message-text{
	margin-bottom: 20px;
}
/***********************************************************************
								FOOTER
***********************************************************************/
/* Sticky Footer */
.page-container{
	min-height: 100%;
	margin-bottom: -274px;
}
.push-footer{
	height: 274px;
}
footer{
	width: 100%;
	height: 254px;
	margin-top: 20px;
}
.footer-top{
	position: relative;
	width: 100%;
	height: 88px;
	background: url('../images/footer-bg.jpg') bottom left repeat-x;
}
.footer-top img{
	position: absolute;
    right: 0px;
    bottom: -15px;
    width: 400px;
    height: auto;
}
.footer-content{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	background-color: #272727;
	color: #fff;
}
.footer-content .wrapper{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #686868;
}
.footer-content h2{
    color: #BABABA;
    font-size: 13px;
    margin-bottom: 13px;
}
.footer-phone{
	display: block;
	margin-bottom: 10px;
	font-size: 26px;
}
.footer-content p{
	color: #fff;
    font-size: 13px;
}
.footer-mail{
	display: inline-block;
	margin-top: 10px;
    color: #fff;
}
.footer-mail a{
	color: #fff;
	text-decoration: none;
}
.footer-logo{
	position: absolute;
	right: 0;
	bottom: 20px;
}
.footer-logo-pan{
	width: 230px;
	height: auto;
}

/*** FORMS ***/

.form-field-set {
	display: block;
	/*overflow: hidden;*/
	position: relative;
	clear: both;
	margin-bottom: .5em;
}
.form-controls { float: right; }
	.form-status-msg {
		padding: .75em;
		-webkit-border-radius: .375em;
		-moz-border-radius: .375em;
		border-radius: .375em;
		text-align: center;
		margin: 1em auto;
		position: relative;
	}
		.form-status-msg .text-content {
			padding: 0 2.6875em;
		}
		.form-status-msg .close-btn-form-status-msg {
			background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
			width: 27px;
			height: 27px;

			position: absolute;
			top: .5em;
			right: .5em;
			margin: 0;

			padding: 0;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			color: red;
			text-indent: -9999999px;
		}
			.form-status-msg .close-btn-form-status-msg:hover,
			.form-status-msg .close-btn-form-status-msg:focus,
			.form-status-msg .close-btn-form-status-msg:active {
				color: #fff;
				background: transparent url(/images/closeButtonIconDialog.png) no-repeat 50% 50%;
				border: none;
				opacity: .5;
			}
	.form-error-msg {
		color: #ee3b24;
		background: #dca7a7;
		border: 1px solid #C49595;
	}
	.form-success-msg {
		color: #007700;
		background: #A7E8E8;
		border: 1px solid #7FDBDB;
	}
	.form-field-error {
		position: relative;
		display: block;
		clear: both;
		color: red;
		padding: .125em 0;
	}
		.form-field-error li { padding: .125em 0;}
	.form-field-set .form-field-error { margin-left: 33%; }
 #card-design-loader {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}
#card-design-loader .loader-text {
	color: black;
    font-size: 39px;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 120px;
}
.xs-panel-opener{
	display: none;
}
.xs-panel-opener .icon{
	padding: 12px 10px 12px 13px;
	color:#fff;
}
.form-field-error ul{
	margin-left: 33%;
    position: absolute;
    right: -30px;
    z-index: 99;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    top: 15px;
}