/***********************************************************************
                            CHECKOUT
***********************************************************************/
.existing-address-field{
    margin-bottom: 20px;
}
/*
.container-for-forms{
    overflow-x: hidden;
}
*/
.checkout-section-title{
    margin: 30px 0 10px 0;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}
.checkout-table-header {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0;
    background-color: #A6C143;
}
.checkout-table-header li{
    float: left;
    width: 20%;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.checkout-table-header li:first-child, .checkout-table-row > div:first-child{
    padding-left: 20px;
    text-align: left;
}
.checkout-table-row{
    display: table;
    width: 100%;
    padding: 10px 0;
    background-color: #eeeeee;
    border-bottom: 1px solid #eee;
}
.checkout-table-row div{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    min-height: 1px;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.denomination-table-cell span{
    display: block;
    margin-bottom: 3px;
}
.checkout-table-row:nth-child(2n+1){
    background-color: #FDFDFD;
}
.checkout-billing-address{
    padding-right: 20px;
}
.checkout-address-form div label, .checkout-address-form div input, .checkout-address-form div span.selectboxit-container.selectboxit-container{
    display: inline-block;
}
.checkout-address-form div{
    margin-bottom: 15px;
}
.checkout-address-form div label{
    width: 120px;
}
.checkout-address-form div input{
    padding: 5px;
    border: 1px solid #eee;
}
.select-container{
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}   
.checkout-address-form div input{
    width: 250px;
}
.checkout-address-form .selectboxit-btn {
    border: 1px solid #eee;
}
.checkout-address-form div input:focus, .checkout-address-form .selectboxit-btn:focus{
    border:1px solid #A6C143;
}
.save-cancel-new-address-field{
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    text-align: center;
}
.checkout-shipping-address{
    padding-left: 20px;
}
.checkout-shipping-address .checkout-address-form{
    display: none;
}
.existing-address-field-title{
    display: block;
    margin-bottom: 10px;
}
.existing-address-list{
    width: 100%;
    margin: 10px 0 0px 0;
    padding: 10px 10px 0 10px;
    border: 1px solid #A6C143;
}
.existing-address-list li{
    margin-bottom: 10px;
}
.billing-address-field{
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.billing-address-field .squared-input{
    margin: 0;
}
.new-shipping-address-field{
    padding-top: 20px;
    text-align: center;
}
.payment-box{
    padding-top: 20px;
    border-top: 1px solid #eee;
}
.payment-info{
    width: 50%;
    font-size: 12px;
}