/***********************************************************************
                                CREATOR
***********************************************************************/
/************************************************* Top Bar with Price Info and Amount Control *************************************************/
.creator-page-wrapper{
    position: relative;
    z-index: 1;
}
.creator-design-name{
    margin-top: 12px;
}
.amount-price-info{
    margin-top: 5px;
}
.number-of-cards p{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.card-amount-controler-wrap{
    display: inline-block;
    position: relative;
    padding-right: 20px;
    color: #000;
    border: 1px solid #a6c143;
}
.card-amount-input{
    width: 40px;
    height: 30px;
    text-align: center;
    border-right: 1px solid #a6c143;
    font-size: 12px;
}
.card-amount-controler-wrap span.span-btn{
    display: block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 15px;
    padding: 0;
    background-color: #fff;
    text-align: center;
}
.card-amount-controler-wrap span.span-btn:focus{
    outline: none;
}
.card-amount-increament{
    top: 0;
    border-bottom: 1px solid #a6c143;
}
.card-amount-decreament{
    bottom: 0;
}
.image-guidelines-trigger, .image-rules-trigger, .terms-conditions-trigger, .privacy-policy-trigger{
    color: #018aff;
    cursor: pointer;
}
/************************************************* Designer Area *************************************************/
/********************************** Global designer styles / buttons, titles *************************************/
.design-element-close-button {
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 10000;
}
.card-designer-btn-icon{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0 15px 52px;
    background-color: #eee;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    cursor: pointer;
}
.card-designer-btn{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
}
.card-designer-btn img{
    display: block;
}
.card-designer-btn-icon span.icon{
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 28px;
    font-family: 'fanfare';
    color: #555;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.card-designer-btn-icon input{
    display: none;
}
.card-designer-btn-icon:hover{
    background-color: #555;
    color: #fff;
}
.card-designer-btn-icon:hover span.icon{
    color: #fff;
}
.designer-button-info{
    margin-bottom: 20px;
    font-size: 12px;
    color: #555;
}
.card-designer-tools-label{
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}
.card-designer-pannel-title{
    margin: 0 0 20px 0;
    color: #a6c244;
    font-size: 18px;
    font-weight: 500;
}
/************************************************* Card Side Navigation *************************************************/
.card-side-switch-nav{
    display: block;
}
.card-side-switch-nav li{
    float: left;
    margin-right: 1px;
}
.card-side-switch-nav li span.span-btn{
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.card-side-switch-nav li span.span-btn.active, .card-side-switch-nav li span.span-btn:hover{
    color: #fff;
    background-color: #777;
}
.card-designer-main-area{
    width: 100%;
}
/****************************************************** Top Pannel **********************************************************/
.card-designer-background-tools{
    background-color: #eee;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    color: #555;
}
.card-background-options p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}
.card-background-options span.span-btn{
    margin-right: 10px;
}
.card-background-options span.span-btn span{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #a6c143;
    border-radius: 10px;
    vertical-align: bottom;
}
.card-background-options span.span-btn span.checked-state:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #a6c143;
}
.background-image-tools{
    display: block;
}
.background-scale-box{
    width: 160px;
}
.background-scale-box span{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}
.background-size-tools{
    margin-left: 20px;
}
.background-size-tools div{
    float: left;
    margin-left: 20px;
    text-align: center;
}
.background-size-tools span{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}
.background-size-tools span.span-btn{
    display: inline-block;
}
.background-size-tools span.span-btn span{
    font-size: 30px;
}
.background-color-tools{
    display: none;
}
.color-picker-holder, .standard-colors-holder{
    display: inline-block;
    float: left;  
}
.color-picker-holder{
    margin-left: 10px;
    padding: 7px 0 7px 10px;
    border-left: 1px solid #B3B3B3;
}
.color-picker-holder input{
    width: 110px;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #555;
    cursor: pointer;
}
ul.color-pallete-horizontal{
    width: 270px;
}
ul.color-pallete-horizontal li{
    display: inline-block;
    float: left;
    margin: 0;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
ul.color-pallete-horizontal li:hover{
    background-image: none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
ul.color-pallete-horizontal li span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/designer/glass-light.png');
    background-repeat: repeat-x;
    background-position: 0 50%;
}
/****************************************************** Left Pannel **********************************************************/
.card-designer-tools{
    width: 180px;
    min-height: 100px;
    overflow: hidden;
}
/****************************************************** Center Pannel **********************************************************/
.card-designer-area{
    position: relative;
    width: 630px;
    min-height: 100px;
    overflow: hidden;
}
.preview-content{
    position: relative;
    width: 476px!important;
    height: 300px!important;
    margin: 60px auto;
}
.canvas-container {
    
    top: 0;
    left: 0;
    margin: 0 auto;
}
.card-design-editor{
    position: absolute;
    top: 0;
    left: 0;
    width: 476px!important; 
    height: 300px!important;
    margin: 0 auto; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px #B7B7B7;
    -moz-box-shadow: 1px 1px 5px #B7B7B7;
    -ms-box-shadow: 1px 1px 5px #B7B7B7;
    -o-box-shadow: 1px 1px 5px #B7B7B7;
    box-shadow: 1px 1px 5px #B7B7B7;
}
/****************************************************** Right Pannel **********************************************************/
.card-designer-tools-options{
    width: 200px;
    min-height: 350px;
    overflow: hidden;
}
.tools-pannel{
    display: none;
}
.active-tools-pannel{
    display: block;
}
.text-toolbox{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}
.text-tools-pannel select{
    width: 100%;
    padding: 5px 0;
    border: 1px solid #555;
    font-size: 12px;
    cursor: pointer;
}
.text-tools-pannel select.tool-font-size{
    width: 80%;
}
.font-weight-tool, .font-style-tool, .font-align-left-tool, .font-align-center-tool, .font-align-right-tool{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 2px;
    font-size: 20px;
    background-color: #fff;
}
.text-color-button-tool{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 0 0 20px;
    border: none;
    background: #fff url('../images/designer/ico-designer-color-selector.png') no-repeat;
}
.color-pallete-tiles{
    position: absolute;
    top: -12px;
    right: -100px;
    z-index: 1;
    width: 144px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #CECECE;
}
.color-pallete-tiles li{
    display: inline-block;
    position: relative;
    float: left;
    margin: 0;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.color-pallete-tiles li:hover{
    background-image: none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.color-pallete-tiles li span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/designer/glass-light.png');
    background-repeat: repeat-x;
    background-position: 0 50%;
}
/****************************************************** Bottom Pannel **********************************************************/
.card-zoom-box{
    background-color: #eee;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    color: #555;
}
.card-zoom-tools span{
    vertical-align: middle;
    margin-right: 5px;
}
.card-zoom-tools span.span-btn{
    font-size: 20px;
}
.delete-bg-button{
    margin-top: 4px;
}
/****************************************************** Bottom Pannel **********************************************************/
.card-element-position-controls{
    background-color: #eee;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    color: #555;
}
.card-element-tools div, .element-title{
    display: block;
    float: left;
    margin-right: 20px;
}
.element-title{
    margin-top: 6px;
}
.card-element-tools input{
    display: inline-block;
    padding: 5px 10px;
    width: 60px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #a6c143;
    background-color: #fff;
}
/****************************************************** Verify and Cart Pannel **********************************************************/
.add-to-cart{
    width: 270px;
    text-align: right;
}
#disclaimer-color-pallete {
    position: relative;
    height: 112px;
    right: 0;
}
.effects-list{
    padding-top: 30px; 
    text-align: center;
}
.effects-list li{
    display: inline-block;
    width: 70px;
    margin: 0 5px;
    font-size: 9px;
}
.effects-list li .effect-button{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.original-effect-button{
    background-image: url(../images/efects/original.jpg);
}
.bw-effect-button{
    background-image: url(../images/efects/bw.jpg);
}
.sepia-effect-button{
    background-image: url(../images/efects/sepia.jpg);
}
.displace-effect-button{
    background-image: url(../images/efects/displace-color.jpg);
}
.gausian-effect-button{
    background-image: url(../images/efects/gausian-blur.jpg);
}
.darken-effect-button{
    background-image: url(../images/efects/darken.jpg);
}
.lighten-effect-button{
    background-image: url(../images/efects/lighten.jpg);
}
.grain-effect-button{
    background-image: url(../images/efects/grain.jpg);
}
.close-pannels{
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #A6C143;
    color: #fff;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}
.responsive-controles{
    display: none;
    position: fixed;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #555;
    background-color: #a6c143;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.responsive-controles li{
    width: 25%;
    float: left;
    padding: 12px;
    border-left: 1px solid #555;
    color: #555;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.responsive-controles li:first-child{
    border-left: none;
}
.responsive-controles li.active{
    background-color: #a6c143;
    color: #fff;
}