/***********************************************************************
                                HOMEPAGE
***********************************************************************/
.home-cards-wrapper{
    width: 1010px;
    margin: 0px auto 20px auto;
    padding-top: 25px;
    text-align: center;
}
.home-cards-wrapper img{
    width: 100%;
    height: auto;
}
.card-type-block{
    padding: 0 20px;
}
.card-type-title{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #a6c143;
    text-align: center;
}
.card-type-block .inactive{
    display: none;
}
.info-home-wrapper{
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #eff5e4;
}
.gr-line{
    position: absolute;
    top: 104px;
    left: 50%;
    z-index: 1;
    width: 70%;
    height: 10px;
    margin-left: -35%;
    background-color: #a6c143;
}
.info-wrap{
    position: relative;
    z-index: 2;
}
.info-box{
    padding: 0 90px;
    text-align: center;
}
.info-box img{
    width: 132px;
    height: auto;
    margin-bottom: 10px;
}
.info-box p{
    font-size: 14px;
    color: #555555;
    text-align: left;
}