/***********************************************************************
                            MY DESIGN STUDIO
***********************************************************************/
/****************************************************** Recent Orders **********************************************************/
span.span-btn.panel-on-btn, span.span-btn.panel-off-btn{
    display: none;
}
.recent-page-top{
    margin-bottom: 0;
}
.recent-order-table, .card-shipping-addresses-tab, .my-designs-tab{
    margin-top: 15px;
}
.recent-orders-page-top-message-title{
    margin: 10px 0;
    font-size: 20px;
}
.rot-header{
    margin-bottom: 5px;
    padding: 10px 0;
    background-color: #a6c143;
    font-size: 20px;
    color: #fff;
}
.rot-header li{
    float: left;
    width: 25%;
    text-align: center;
}
.rot-header li:first-child{
    padding-left: 20px;
    text-align: left;
}
.rot-item-row{
    display: table;
    width: 100%;
}
.rot-item-row div{
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.rot-item-row div:first-child{
    padding-left: 20px;
    text-align: left;
}
.rot-item-accordion-header{
    padding: 10px 0;
    background-color: #fff;
    font-size: 16px;
    color: #a6c143;
}
.rot-item-accordion-header li{
    float: left;
    width: 18%;
    text-align: center;
}
.rot-item-accordion-header li:first-child{
    width: 10%;
    padding-left: 20px;
    text-align: left;
}
.accordion-item-wrap{
    border-top: 1px solid #eee;
}
.accordion-item-row{
    display: table;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
}
.accordion-item-row div{
    display: table-cell;
    vertical-align: middle;
    width: 18%;
    min-height: 1px;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.accordion-item-row > div:first-child{
    width: 10%;
}
.accordion-item-row .rot-card-preview {
    position: relative;
    display: block;
    width: 60px;
    height: 38px;
    margin: 0 auto;
    padding-left: 0;
}
.rot-card-preview img {
    display: block;
    width: 60px;
    height: 38px;
    margin: 0 auto;
}
.rot-card-preview img.preview-hidden {
    display: inline-block;
    position: absolute;
    right: -105px;
    bottom: -10px;
    width: 100px;
    max-width: 100px;
    height: auto;
    opacity: 0;
}
.accordion-item-row .rot-card-preview:hover img.preview-hidden {
    opacity: 1;
    bottom: 0;
}
.rejected-item{
    color: #FF0000!important;
}
.resubmit-item{
    cursor: pointer;
    color: #0A9EE2!important;
}
/****************************************************** My Designs **********************************************************/
.my-designs-list li{
    display: inline-block;
    float: left;
    width: 32%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: #eee;
}
.my-designs-list li:nth-child(3n-1){ 
    margin-left: 2%;
    margin-right: 2%;
}
.my-designs-list li:hover{
    -webkit-box-shadow: 0px 1px 3px #BBB;
    -moz-box-shadow: 0px 1px 3px #BBB;
    -ms-box-shadow: 0px 1px 3px #BBB;
    -o-box-shadow: 0px 1px 3px #BBB;
    box-shadow: 0px 1px 3px #BBB;
}
.my-designs-options{
    margin-top: 10px;
    text-align: center;
}
.my-designs-options .icon{
    cursor: pointer;
}
.my-designs-card{
    width: 100%;
}
/****************************************************** Card Shipping Addresses **********************************************************/
.card-shipping-addresses-tab-list-wrap{
    padding-right: 10px;
}
.card-shipping-addresses-section-title{
    margin: 10px 0;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}
.card-shipping-addresses-tab-list > li{
    margin-bottom: 5px;
    border: 1px solid #eee;
}
.card-shipping-addresses-info-header{
    padding-left: 15px;
}
.card-shipping-addresses-tab-list > li div{
    width: 100%;
    padding: 15px;
    color: #555;
    background: #eee;
    font-size: 15px;
    cursor: pointer;
}
.card-shipping-addresses-info-opened{
    max-height: 1000px;
}
.card-shipping-addresses-info li{
    margin-bottom: 15px;
    padding-left: 15px;
}
.card-shipping-addresses-info li:first-child{
    margin-top: 15px;
}
.card-shipping-addresses-form label{
    display: inline-block;
    float: left;
    width: 20%;
    margin-bottom: 5px;
    padding-top: 7px;
}
.card-shipping-addresses-form input{
    display: inline-block;
    float: left;
    width: 80%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 15px;
}
.card-shipping-addresses-form input:focus{
    border: 1px solid #A6C143;
}
.card-shipping-addresses-form .select-container{
    display: inline-block;
    width: 80%;
    margin-bottom: 10px;
}
.card-shipping-addresses-form .selectboxit-btn{
    border: 1px solid #eee;
}
.add-new-shipping-address-area{
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #eee;
}