/***********************************************************************
                            SHOPPING CART
***********************************************************************/
.shopping-cart-table-title{
    margin: 30px 0 10px 0;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}
.shopping-cart-table-header{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0;
    background-color: #eeeeee;
}
.shopping-cart-table-header li{
    float: left;
    width: 20%;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.shopping-cart-item{
    margin-bottom: 5px;
    border: 1px solid #A6C143;
}
.shopping-cart-item span.icon{
    cursor: pointer;
}
.shopping-cart-item:hover{
    -webkit-box-shadow: 0px 1px 3px #BBB;
    -moz-box-shadow: 0px 1px 3px #BBB;
    -ms-box-shadow: 0px 1px 3px #BBB;
    -o-box-shadow: 0px 1px 3px #BBB;
    box-shadow: 0px 1px 3px #BBB;
}
.sci-info-row{
    display: table;
    width: 100%;
    padding: 5px 0;
    background-color: #a6c143;
}
.sci-info-row div{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    min-height: 1px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.shopping-cart-table-header li:first-child, .sci-info-row > div:first-child{
    padding-left: 20px;
    text-align: left;
}
.sci-info-row .sci-card-preview{
    position: relative;
    display: block;
    width: 60px;
    height: 38px;
    margin: 0 auto;
    padding-left: 0;
}
.sci-card-preview img{
    display: block;
    width: 60px;
    height: 38px;
    margin: 0 auto;
}
.sci-card-preview img.preview-hidden{
    display: inline-block;
    position: absolute;
    right: -105px;
    bottom: -10px;
    width: 100px;
    max-width: 100px;
    height: auto;
    opacity: 0;
}
.sci-info-row .sci-card-preview:hover img.preview-hidden{
    opacity: 1;
    bottom: 0;
}
.sci-value-row{
    display: table;
    width: 100%;
    margin-top: 1px;
    padding: 5px 0;
    background-color: #eeeeee;
}
.sci-value-row:nth-child(2n+1){
    background-color: #FDFDFD;
}
.sci-value-row div{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.sci-input label{
    margin-right: 10px;
    font-size: 12px;
}
.sci-input input{
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #a6c143;
}

.sci-price-table{
    width: 350px;
}
.sci-price-table li{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.sci-price-table li span:first-child{
    width: 60%;
}
.sci-price-table li:first-child span{
    padding-top: 0;
}
.sci-price-table li span{
    display: inline-block;
    width: 40%;
    padding: 10px;
    text-align: right;
    font-size: 20px;
}
.sci-price-table li.sci-price-total{
    border-bottom: none;
    border-top: 2px solid #646464;
}
.sci-price-table li.sci-price-total span{
    font-weight: 500;
    font-size: 24px;
}