/***********************************************************************
                            THANK YOU
***********************************************************************/
.thank-you-page{
    text-align: center;
}
.thank-you-page .icon{
    margin: 20px 0;
}
.thanks-message{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
}
.thanks-info{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}
.thanks-info .link{
    color: #A6C143;
    cursor: pointer;
}