{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}CardPricing-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Card Pricing</h2>
</div>
<div class="page-content">
	
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Choose Currency</span>
					</div>
					<div class="content-box-content">
						
						<div class="row">
							<div class="full-box">
								<ul id="card-pricing-currencies-list" class="flex-menu-left"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add New Range</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="create-card-pricing-form" acton="#">
									<div class="form-inputs-container clear-float">
										{{ forms.textInputSet('minimumCards', 'Min', '', 'CardPricing') }}
										{{ forms.textInputSet('maximumCards', 'Max', '', 'CardPricing') }}
										{{ forms.textInputSet('loyalty', 'Loyalty', '', 'CardPricing') }}
										{{ forms.textInputSet('gift', 'Gift', '', 'CardPricing') }}
										{{ forms.textInputSet('promo', 'Promo', '', 'CardPricing') }}
										{{ forms.selectInputSet('currency', 'Currency', 'Select currency', 'CardPricing') }}
									</div>

									<div class="border-box-wrap">
									<span id="create-card-pricing-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<table id="card-pricing-table"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}