{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}Currency-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Curenncy Rates</h2>
	<div class="general-actions-box go-right"> 
		<span id="set-currency-as-base-button" class="user-btn span-btn approve-btn"><span class="filter"></span>Set As Base</span>
		<span id="delete-currency-button" class="user-btn span-btn delete-btn"><span class="filter"></span>Delete</span>
	</div>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add New Currency</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="create-currency-form" acton="#">

									<div class="card-shipping-addresses-form form-inputs-container clear-float">
										{{ forms.textInputSet('name', 'Name*', '', 'Currency') }}
										{{ forms.textInputSet('code', 'Code*', '', 'Currency') }}
										{{ forms.textInputSet('symbol', 'Symbol*', '', 'Currency') }}
										{{ forms.textInputSet('rate', 'Rate', '', 'Currency') }}
										{{ forms.selectInputSet('country', 'For Country*', 'Select Country', 'Currency') }}
									</div>

									<div class="border-box-wrap">
									<span id="create-currency-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>

								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<table id="currencies-data-grid"></table>
			</div>
		</div>
	</div>
</div>

<div id="change-base-currency-popup"
     data-template="form-popup-template"
     data-content-template="form-popup-content-template"
     class="form-popup animated display-none confirm-popup"></div>

{% include 'ElavonCreatorBundle:Popups:formPopupTemplate.html.twig' %}
{% include 'ElavonCreatorBundle:Popups:formPopupContentTemplate.html.twig' %}

{% endblock %}
