{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}Customers-module{% endblock %}
{% block content %}
<div class="page-header clear-float">
	<h2>Customers</h2>
	<div class="general-actions-box go-right"> 
		<span class="user-btn span-btn csv-btn"><span class="filter"></span>Export to CSV</span>
	</div>
</div>
<div class="page-content">
	<div class="page-full">
		<div class="row">
			<div class="full-box">
				<table id="test-table-customers"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}