{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}Customer-module{% endblock %}
{% block content %}
<div class="page-header clear-float">
	<h2 id="customer-name"></h2>
	<div class="general-actions-box go-right"> 
		<!--<span class="user-btn span-btn approve-btn"><span class="filter"></span>Activate</span>
		<span class="user-btn span-btn reject-btn"><span class="filter"></span>Suspend</span> -->
	</div>
</div>
<div class="page-content">
	<div class="page-full">
		<div class="page-flex-absolute">
			<div class="row">
				<div class="full-box">
					<div class="content-box-info">
						<div class="content-box-header">
							<span>Customer Info</span>
						</div>
						<div class="content-box-content" id="customer-details">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-flex">
			<div class="row">
				<div class="full-box">
					<div class="content-box-info">
						<div class="content-box-header">
							<span>Recent designs</span>
						</div>
						<div class="content-box-content image-gallery-box clear-float">
							<div class="row" id="recent-designs">
								<!--<div class="image-box-third">
									<div class="image-box">
										<p></p>
										<img src="" />
									</div>
								</div>
								<div class="image-box-third">
									<div class="image-box">
										<p></p>
										<img src="" />
									</div>
								</div>
								<div class="image-box-third">
									<div class="image-box">
										<p></p>
										<img src="" />
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-full">
		<div class="row">
			<div class="full-box">
				<table id="test-table-customer"></table>
			</div>
		</div>
	</div>
</div>

{{ '<script id="recent-design-item-template" type="text/x-handlebars-template">
	<div class="image-box-third">
		<div class="image-box">
			<p>{{name}}</p>
			<img src= "{{ frontImageUrl }}" />
		</div>
	</div>
</script>' | raw }}

{{ '<script id="customer-details-item-template" type="text/x-handlebars-template">
    <div class="row">
		<div class="half-box">
			<span class="box-subtitle">FFID:</span>
			<span class="box-content">{{username}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Joined:</span>
			<span class="box-content">{{createdDatetime}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Country:</span>
			<span class="box-content">{{country.name}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">City:</span>
			<span class="box-content">{{city}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Email:</span>
			<span class="box-content">{{email}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Phone</span>
			<span class="box-content">{{phone}}</span>
		</div>
	</div>

</script>' | raw }}

{% endblock %}