{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}Home-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Order no. 25,  Item no. 38</h2>
	<div class="general-actions-box go-right"> 
		<span class="user-btn span-btn delete-btn"><span class="filter"></span>Delete</span>
	</div>
</div>
<div class="page-content clear-float">

	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Finished card preview / Image ID: 1000038</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="half-box">
								<img src="{{ asset('images/homepage/promocard.png') }}" />
							</div>
							<div class="half-box">
								<img src="{{ asset('images/homepage/promocard.png') }}" />
							</div>
						</div>
						<div class="row">
							<div class="full-box">
								<span class="user-btn span-btn approve-btn"><span class="filter"></span>Approve</span>
								<span class="user-btn span-btn notsure-btn"><span class="filter"></span>Not Sure</span>
								<span class="user-btn span-btn reject-btn"><span class="filter"></span>Reject</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Order Info</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Order made by:</span>
								<span class="box-content">Some User</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Order Item Status:</span>
								<span class="box-content">Pending</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Order created on:</span>
								<span class="box-content">04.11.2015</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Order amount:</span>
								<span class="box-content">£0.11</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Billing Info</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Name:</span>
								<span class="box-content">Some User</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Date ordered:</span>
								<span class="box-content">11/04/2015</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Address:</span>
								<span class="box-content">Not Known</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">City:</span>
								<span class="box-content">Not Known</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">ZIP:</span>
								<span class="box-content">Not Known</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Country:</span>
								<span class="box-content">United Kingdom</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Email:</span>
								<span class="box-content">584527@fanfare.com</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Phone:</span>
								<span class="box-content">Not Known</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Shipping Info</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Name:</span>
								<span class="box-content">Some User</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Date ordered:</span>
								<span class="box-content">11/04/2015</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Address:</span>
								<span class="box-content">Not Known</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">City:</span>
								<span class="box-content">Not Known</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">ZIP:</span>
								<span class="box-content">Not Known</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Country:</span>
								<span class="box-content">United Kingdom</span>
							</div>
						</div>
						<div class="row">
							<div class="half-box">
								<span class="box-subtitle">Email:</span>
								<span class="box-content">584527@fanfare.com</span>
							</div>
							<div class="half-box">
								<span class="box-subtitle">Phone:</span>
								<span class="box-content">Not Known</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Script -->
<script>
	$(document).ready(function(){
        var userBtn = $('.user-btn');
        
        userBtn.on('click', function(){
            console.log('clicked');
            
            $(this).addClass('clicked-btn');
            setTimeout(function(){
                userBtn.removeClass('clicked-btn');
            }, 480);
        });
	});
</script>
</div>

{% endblock %}
