{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}ImageGallery-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Image Gallery</h2>
	<div class="general-actions-box go-right">
		<label for="browse-image-gallery-item-input" class="label-btn user-btn span-btn upload-btn" id="upload-image-button"><span class="filter"></span>Upload image
			<input id="browse-image-gallery-item-input"
				class="browse-file-input"
				type="file"
				accept="image/*"
				data-operation-type="upload-file"
				data-purpose="background-image" />
		</label>
	</div>
</div>
<div class="page-content clear-float">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Category</span>
					</div>
					<div class="content-box-content">

						<div class="row">
							<div class="full-box">
								<ul class="flex-menu-left" id="image-category-items">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="create-image-category-form" acton="#">
									<div class="form-inputs-container clear-float">
										{{ forms.textInputSet('name', 'Category name', '', 'Category') }}
									</div>
									<div class="border-box-wrap">
									<span id="create-image-category-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Gallery</span>
					</div>
					<div class="content-box-content image-gallery-box clear-float">
						<div class="row" id="bankvault-category-images">
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Script -->
<script>
	$(document).ready(function(){
        var userBtn = $('.user-btn');

        userBtn.on('click', function(){
            $(this).addClass('clicked-btn');
            setTimeout(function(){
                userBtn.removeClass('clicked-btn');
            }, 480);
        });
	});
</script>
</div>

{{ '<script id="album-photo-item-template" type="text/x-handlebars-template">
	<div class="image-box-third">
		<div class="image-box">
			<p>{{name}}</p>
			<img src="{{ originalImage }}" />
		</div>
	</div>
</script>' | raw }}

{% endblock %}
