{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}Login-module{% endblock %}
{% block moduleHolder %}#login-module-holder{% endblock %}

{% block content %}
<div class="backhead-bg"></div>
<div class="wrapper">
	<div class="login-box shadow-box">
		<img class="case-logo" src="{{ asset('images/bankvault/case-logo.png') }}" />
		<span id="login-form-error-message-container"></span>
		<form id="login-form" class="form-box">
			<div class="form-field">
				<label>Username</label>
				<input class="inputField login" type="text" name="username" />
				<span class="green-border"></span>
			</div>
			<div class="form-field">
				<label>Password</label>
				<input class="inputField login" type="password" name="password" />
				<span class="green-border"></span>
			</div>
			<span id="login-button" class="span-btn input-btn">Login</span>
		</form>
	</div>
	<img class="bankvault-logo" src="{{ asset('images/bankvault/bankvault.png') }}" />
</div>
<script>
	$(document).ready(function(){
		var inputField = $('.inputField');
		
		inputField.focus(function() {
			$(this).parent().find('label').removeClass('full-input-blur');
			$(this).parent().find('.green-border').removeClass('full-blur');
			$(this).parent().find('label').addClass('full-input');
			$(this).parent().find('.green-border').addClass('full');
		});

		inputField.blur(function() {
			var inputValue = $(this).val();
			var	inputLength = inputValue.length;

			$(this).parent().find('label').addClass('full-input-blur');
			$(this).parent().find('.green-border').addClass('full-blur');

			if(inputLength < 1){
				$(this).parent().find('label').removeClass('full-input');
				$(this).parent().find('.green-border').removeClass('full');
			}
		});
	});
</script>
{% endblock %}
