{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}OrderItemDetails-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2 id="order-item-header"></h2>
	<div class="general-actions-box go-right"> 
		<span class="user-btn span-btn delete-btn"><span class="filter"></span>Delete</span>
	</div>
</div>
<div class="page-content clear-float">

	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Address info</span>
					</div>
					<div class="content-box-content" id="address-info-div">
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Billing Info</span>
					</div>
					<div class="content-box-content" id="billing-info-div">
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Shipping Info</span>
					</div>
					<div class="content-box-content" id="shipping-info-div">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Finished card preview / Image ID: 1000038</span>
					</div>
					<div class="content-box-content">
						<div class="row" id="card-side-info-div">
						</div>
						<div class="row">
							<div class="full-box approve-box">
								<span class="user-btn span-btn approve-btn" id="approve-button"><span class="filter"></span>Approve</span>
								<span class="user-btn span-btn notsure-btn"><span class="filter"></span>Not Sure</span>
								<span class="user-btn span-btn reject-btn" id="reject-button"><span class="filter"></span>Reject</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Script -->
<script>
	$(document).ready(function(){
        var userBtn = $('.user-btn');
        
        userBtn.on('click', function(){            
            $(this).addClass('clicked-btn');
            setTimeout(function(){
                userBtn.removeClass('clicked-btn');
            }, 480);
        });
	});
</script>
</div>

{{ '<script id="address-info-item-template" type="text/x-handlebars-template">
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Order made by:</span>
			<span class="box-content">{{order.billingAddress.firstName}} {{order.billingAddress.lastName}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Order Item Status:</span>
			<span class="box-content status-color-pending">{{order.status}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Order created on:</span>
			<span class="box-content">{{order.date}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Order amount:</span>
			<span class="box-content">{{orderItem.quantity}}</span>
		</div>
	</div>
</script>' | raw }}
<!-- status-color-no-info -->
{{ '<script id="billing-info-item-template" type="text/x-handlebars-template">
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Name:</span>
			<span class="box-content">{{order.billingAddress.firstName}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Date ordered:</span>
			<span class="box-content">{{order.date}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Address:</span>
			<span class="box-content">{{order.billingAddress.address}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">City:</span>
			<span class="box-content">{{order.billingAddress.city}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">ZIP:</span>
			<span class="box-content">{{order.billingAddress.postcode}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Country:</span>
			<span class="box-content">{{order.billingAddress.country.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Email:</span>
			<span class="box-content">{{order.billingAddress.email}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Phone:</span>
			<span class="box-content">{{order.billingAddress.phone}}</span>
		</div>
	</div>
</script>' | raw }}

{{ '<script id="shipping-info-item-template" type="text/x-handlebars-template">
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Name:</span>
			<span class="box-content">{{order.shippingAddress.firstName}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Date ordered:</span>
			<span class="box-content"></span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Address:</span>
			<span class="box-content">{{order.shippingAddress.address}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">City:</span>
			<span class="box-content">{{order.shippingAddress.city}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">ZIP:</span>
			<span class="box-content">{{order.shippingAddress.postcode}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Country:</span>
			<span class="box-content">{{order.shippingAddress.country.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="half-box">
			<span class="box-subtitle">Email:</span>
			<span class="box-content">{{order.shippingAddress.email}}</span>
		</div>
		<div class="half-box">
			<span class="box-subtitle">Phone:</span>
			<span class="box-content">{{order.shippingAddress.phone}}</span>
		</div>
	</div>
</script>' | raw }}

{{ '<script id="card-site-item-template" type="text/x-handlebars-template">
	<div class="half-box card-design-frontside-holder">
		<p>Front side</p>
		<img src="{{ orderItem.cardDesign.frontImageUrl }}" />
	</div>
	<div class="half-box card-design-backside-holder">
		<p>Back side</p>
		<img src="{{ orderItem.cardDesign.backImageUrl }}" />
	</div>
</script>' | raw }}

{% endblock %}
