{% extends "SinglePageClientBundle:Default:module.html.twig" %}

{% block moduleId %}RecentOrders-module{% endblock %}
{% block content %}
<div class="page-header clear-float">
	<h2>Recent Orders</h2>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Orders Menu</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<ul class="flex-menu-left">
									<li class="active">View All Orders</li>
									<li>Pending</li>
									<li>Procesing</li>
									<li>Rejected</li>
									<li>In-Production</li>
									<li>Produced</li>
									<li>Canceled</li>
									<li>Refunded</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-flex">
		<div class="order-details-pannel">
			<div class="order-details-pannel-inner">
				<div class="row">
					<div class="full-box">
						<div class="content-box-info">
							<div class="content-box-header">
								<span>Orders Details <span id="close-order-details-panel" class="close-panel-icon icon icon-22"></span></span>
							</div>
							<div class="content-box-content order-item-details">
								<div class="row">
									<div class="full-box table-holder-flex">
										<table id="order-items-table"></table>
									</div>
								</div>
								<div class="row">
									<div class="full-box">
										<div class="order-total-table">
											<p>Shipping Charge: <span id="shipping-charge"></span></p>
											<p>Total Tax: <span id="total-tax"></span></p>
											<p class="total">Order Total Amount: <span id="total-order"></span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="full-box">
				<table id="order-table"></table>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
