{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}RolePermission-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Role Permission</h2>
</div>
<div class="page-content">
	<div class="page-full">
		<div class="row">
			<div class="full-box">
				<table id="role-table"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}