{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}ShippingCharge-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Shipping Settings</h2>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add New Shipping Charge</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="create-shipping-charge-form" acton="#">

									<div class="form-inputs-container clear-float">
										{{ forms.selectInputSet('country', 'Country (GBP)', '', 'ShippingCharge') }}
										{{ forms.textInputSet('amount', 'Amount', '', 'ShippingCharge') }}
									</div>

									<div class="border-box-wrap">
									<span id="create-shipping-charge-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>

								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box select-box-wrap">
				<table id="shipping-charge-table"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
