{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}SystemUsers-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>System Users</h2>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add New System User</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="system-users-form" acton="#">

									<div class="form-inputs-container clear-float">
										{{ forms.textInputSet('username', 'Username', '', 'Username') }}
										{{ forms.textInputSet('password', 'Password', '', 'Password') }}
										{{ forms.textInputSet('c_password', 'Confirm Password', '', 'Confirm Password') }}
										{{ forms.textInputSet('email', 'Email', '', 'Email') }}
										{{ forms.textInputSet('f_name', 'First Name', '', 'First Name') }}
										{{ forms.textInputSet('l_name', 'Last Name', '', 'Last Name') }}
										{{ forms.textInputSet('country', 'Country', '', 'Country') }}
										{{ forms.textInputSet('address', 'Address', '', 'Address') }}
										{{ forms.textInputSet('city', 'City', '', 'City') }}
										{{ forms.textInputSet('zip_code', 'Zip Code', '', 'Zip Code') }}
										{{ forms.textInputSet('phone', 'Phone Number', '', 'Phoue NUmber') }}
										{{ forms.textInputSet('recive_email', 'Receive Approval Emails', '', 'Receive Approval Emails') }}
										{{ forms.textInputSet('role', 'User Role', '', 'User Role') }}
									</div>

									<div class="border-box-wrap">
									<span id="create-currency-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>

								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<table id="system-users-table"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}