{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% block moduleId %}SystemActions-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>System Actions</h2>
	<div class="general-actions-box go-right date-box-actions"> 
		<span>From:</span><input id="startPicker" type="text" />
		<span>To:</span><input id="endPicker" type="text" />
	</div>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Choose users</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<ul class="flex-menu-left">
									<li class="active">All</li>
									<li>Customers</li>
									<li>System Users</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box">
				<table id="system-actions-table"></table>
			</div>
		</div>
	</div>

<script>
	$(document).ready(function(){
		$('#startPicker,#endPicker').datepick({ 
		    onSelect: customRange, showTrigger: '#calImg'
		}); 
		     
		function customRange(dates) { 
		    if (this.id == 'startPicker') { 
		        $('#endPicker').datepick('option', 'minDate', dates[0] || null); 
		    } 
		    else { 
		        $('#startPicker').datepick('option', 'maxDate', dates[0] || null); 
		    } 
		}
	});
	
</script>
</div>
{% endblock %}