{% extends "ElavonAdminPanelBundle:Default:module.html.twig" %}

{% import "SinglePageClientBundle:Default:formFields.html.twig" as forms %}

{% block moduleId %}Currency-module{% endblock %}

{% block content %}
<div class="page-header clear-float">
	<h2>Tax Settings</h2>
	<div class="general-actions-box go-right"> 
		<span class="user-btn span-btn delete-btn"><span class="filter"></span>Delete</span>
	</div>
</div>
<div class="page-content">
	<div class="page-flex-absolute">
		<div class="row">
			<div class="full-box">
				<div class="content-box-info">
					<div class="content-box-header">
						<span>Add New Tax</span>
					</div>
					<div class="content-box-content">
						<div class="row">
							<div class="full-box">
								<form id="create-tax-form" acton="#">

									<div class="form-inputs-container clear-float">
										{{ forms.textInputSet('name', 'Tax Name', '', 'Tax') }}
										{{ forms.textInputSet('amount', 'Tax Amount (%)', '', 'Tax') }}
										{{ forms.selectInputSet('country', 'Country', '', 'Tax') }}
									</div>

									<div class="border-box-wrap">
									<span id="create-tax-button"
											class="user-btn span-btn border-box-btn submit-button"
											data-role="create">Save</span>
									</div>

								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-flex">
		<div class="row">
			<div class="full-box select-box-wrap">
				<table id="tax-data-table"></table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
